.about-us-header
    width 100%
    height 637px
    background url('../img/bitmap@3x.png')
    background-attachment fixed
    background-repeat no-repeat
    background-size cover
.green-text
    color #6b806c
.warm-grey-text
    color #9b9b9b
.about-us-up-section
    background-color #FFFFFF
    width 658px
    margin auto
    margin-top -400px
.about-us-title-box
    padding-top 35px
.about-us-content-box
    align-items flex-start !important
    padding-top 43px
.about-us-dot-n
    height 18px
    width 19px
    margin-top 5px
    margin-right 14px
.about-us-content-text
    font-size 16px
    line-height 22px
    width 450px
.about-us-content-large-box
    align-items flex-start !important
    padding-top 58px
.about-us-content-large-text
    font-size 16px
    line-height 22px
    width 760px
.about-us-button-box
    background-color #658c78
    border-radius 100px
    padding 11px 16px
    width 127px
    text-align: center
.about-us-button-container
    padding-top 86px
    padding-bottom 73px