.faq-header
  background-color #f5f5f5
  margin-top 92px
  padding-bottom 42px
  border-bottom solid 1px #e5e5e5
.faq-header-title-box
  padding-top 41px
.faq-header-title
  font-size 28px
  padding-left 5px
.faq-header-gold-divider
  width 40px
  height 5px
  background-color #c2a463
  margin-top 5px
.faq-body
  background-color #f5f5f5
  padding-top 49px
  padding-bottom 99px
.faq-button-box
  width 278px
  height 82px
  background-color #FFFFFF
  color #9b9b9b
  box-shadow 1px 3px 7px rgba(0, 0, 0, 0.05)
  transition all 0.1s linear
  -webkit-transition all 0.1s linear
  -o-transition all 0.1s linear
  -moz-transition all 0.1s linear
.faq-button-box.active
  background-color #c2a463
  color #FFFFFF !important
.faq-button-box:hover
  background-color #c2a463
  color #FFFFFF !important
.faq-box
  max-height 572px
  overflow-y scroll
  display none
.faq-box.active
  display block
.faq-text-container
  width 540px
  padding-left 60px
  margin-right 50px
.faq-title
  font-size 28px
  padding-bottom 18px
.faq-body-container
  align-items flex-start !important
.ask-box
  padding-bottom 18px
.ask-text
  font-size 15px
  line-height 22px
  width 463px
.answer-text
  font-size 15px
  line-height 22px
  width 463px