/* Styles for mobile devices */

@media only screen and (min-width: 767px) and (max-width: 768px){
  .hamburger {
    display: inline !important;
    position: fixed;
    padding: 0px !important;
    top: 1.4rem;
    left: 1.4rem;
    z-index: 1;
  }
  #neopraxis-hamburger-menu{
    display: inline-block !important;
  }
  #neopraxis-main-navbar{
    display: none;
  }
  .neopraxis-navbar {
    justify-content: center !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .navbar-brand {
    margin-left: 0px !important;
  }
  .neopraxis-navbar-style {
    position: fixed;
    width: 15rem;
    left: 0px;
    right: 0px;
    height: 100%;
    top: 0px;
    background: white;
    bottom: 0px;
    display: inline !important;
  }
  #neopraxis-main-navbar {
    display: none;
  }
  #neopraxis-main-navbar > ul {
    padding-top: 0rem;
    width: 120px;
    margin:0 auto;
  }
  .locate-title {
    padding-left: 30%;
  }
  .green-image-absolute {
    width: 55%;
    height: 220px;
    position: absolute;
    background-attachment: initial !important;
    right: 0;
    bottom: -60px;
    z-index: 1;
  }
  .girl-parallax-green-section {
    width: 280px;
    height: 335px;
    background: url(../img/rsz_group-293x.png);
    background-attachment: auto;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 43px;
    top: 0;
    margin-bottom: -50px;
    z-index: 999;
  }
  .white-section-bg {
    width: 100%;
    padding-left: 43px;
    padding-top: 0px !important;
    background-color: #fff;
    position: relative;
    height: 335px;
  }
  .green-text-white-box {
    font-size: 21px;
    line-height: 33px;
    text-align: center;
    width: 200px;
    margin: auto;
    padding-top: 28px;
    padding-bottom: 24px;
  }
  .green-text-container {
    width: 390px;
    text-align: center;
    margin: auto;
    padding-left: 20%;
  }
  .green-section-text {
    font-size: 20px;
    padding-top: 54px;
  }
  .header-parallax {
    width: 75%;
    height: 604px;
    background: url(../img/group-3@3x.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    position: relative;
    z-index: 10;
    margin-top: 0px;
  }
  .header-title {
    font-size: 33px;
    width: 612px;
    margin-top: 164px;
    float: right;
    margin-right: -150px;
    z-index: 999;
  }
  .header-subtitle {
    font-size: 35px;
    float: right;
    width: 460px;
    margin-top: 12px;
  }
  .about-container {
    margin-top: 50px;
    width: 80%;
    text-align: center;
  }
  .header-dots {
    width: 95px;
    height: auto;
    position: absolute;
    left: 90px;
    bottom: 50px;
    z-index: 1;
  }
  .login-container {
    float: left;
    padding-left: 13px;
    padding-top: 20px;
  }
  .register-button-box {
    width: 94px;
    height: 32px;
    text-align: center;
    background-color: #c2a463;
    margin-left: 3px;
    margin-right: 0px;
  }
  .header-logo {
    width: 177px;
    height: auto;
    margin-top: 27px;
    margin-left: 10px;
  }
  .header-green-block {
    width: 100%;
    height: 430px;
    margin-top: 68px;
    background-image: linear-gradient(215deg, rgba(21,44,28,0.76), rgba(46,163,111,0.76));
  }
  .column-green-section {
    -ms-flex-direction: row;
    flex-direction: row;
    width: 814px;
    position: relative;
    padding-top: 57px;
  }
  .green-section {
    background-image: linear-gradient(246deg, #152c1c, #2ea36f);
    opacity: 0.69;
    width: 100%;
    position: relative;
    height: 350px;
  }
  .green-section {
    background-image: linear-gradient(246deg, #152c1c, #2ea36f);
    opacity: 0.69;
    width: 89%;
    position: relative;
    height: 350px;
  }
  .grey-section {
    background-color: #f5f5f5;
    margin-top: -50px;
    position: relative;
    padding-top: 180px;
    padding-bottom: 67px;
  }
  .dots-image-green-section {
    width: 95px;
    height: auto;
    position: absolute;
    right: 0;
    bottom: -100px;
    z-index: 1;
  }
  #neopraxis-main-navbar {
    position: fixed;
    background-color: #ffffff;
    width: 190px;
    padding-left: 0px;
    top: 35px;
    left: 0px;
    height: 100vh;
  }
  .register-button-box {
    width: 94px;
    height: 32px;
    text-align: center;
    background-color: #c2a463;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
  }
  .hamburger {
    display: inline !important;
    position: fixed;
    top: 6px;
    right: 1rem;
    z-index: 1;
  }
  .hamburger-box {
    width: 30px !important;
    height: 24px;
    display: inline-block;
    position: relative;
  }
  .hamburger-inner, .hamburger-inner::after, .hamburger-inner::before{
    width: 30px !important;
    height: 3px !important;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }
  .hamburger-inner::before{
    top:-7px !important;
  }
  .neopraxis-remove-margin-images {
    margin-right:0px !important;
    margin-left: 0px !important;
  }
  .hamburger--collapse.is-active .hamburger-inner::before {
    top: 0px !important;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}
@media only screen and (max-width: 767px) {
  #neopraxis-hamburger-menu{
    display: inline-block !important;
  }
  .hamburger {
    display: inline !important;
    position: fixed;
    padding: 0px !important;
    top: 1.5rem;
    right: 2rem;
    z-index: 1;
  }
  .hamburger-box {
    width: 30px !important;
    height: 24px;
    display: inline-block;
    position: relative;
  }
  .hamburger-inner, .hamburger-inner::after, .hamburger-inner::before{
    width: 30px !important;
    height: 3px !important;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }
  .hamburger-inner::before{
    top:-7px !important;
  }
  .neopraxis-remove-margin-images {
    margin-right:0px !important;
    margin-left: 0px !important;
  }
  .hamburger--collapse.is-active .hamburger-inner::before {
    top: 0px !important;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  #neopraxis-main-navbar {
    display: none;
    position: fixed;
    background-color: #ffffff;
    width: 190px;
    padding-left: 0px;
    top: 42px;
    left: 0px;
    height: 100vh;
  }
  .register-button-box {
    width: 94px;
    height: 32px;
    text-align: center;
    background-color: #c2a463;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
  }
  #neopraxis-main-navbar > ul {
    padding-top: 0rem;
    width: 120px;
    margin:0 auto;
    padding-bottom: 1rem;
  }
  .neopraxis-vs-icon {
    margin: 0px 10px !important;
  }
  .neopraxis-main-table-row-icon {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-right:0px !important;
  }
  .neopraxis-center-flex {
    display: flex !important;
    justify-content:center;
    align-items:center;
    padding-top: 3rem !important;
  }
  .neopraxis-navbar-style {
    position: fixed;
    width: 15rem;
    left: 0px;
    right: 0px;
    height: 100%;
    top: 0px;
    background: white;
    bottom: 0px;
    display: inline !important;
  }
  .neopraxis-navbar {
    justify-content: center !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
  .navbar-brand {
    margin-left: 0px !important;
  }
  #neopraxisNavbar{
    display: flex !important;
  }
  .header-navbar {
    display: none !important;
  }
  .header-right-section{
    display: none !important;
  }
  .header-parallax{
    width: 100% !important;
    background-attachment: inherit;
    background-size: cover !important;
    margin-top: 60px;
  }
  .header-title {
    font-size: 20px;
    width: 300px;
    margin-top: 164px;
    z-index: 999;
    float: none !important;
    margin: 0 !important;
    margin: auto !important;
    padding-top: 200px !important;
    text-align: center;
  }
  .header-subtitle {
    font-size: 21px;
    float: none !important;
    width: 310px;
    margin-top: 12px;
    padding-top: 12px;
    text-align: center;
    margin: auto !important;
  }
  .header-try-button {
    width: 187px;
    height: 43px;
    border-radius: 20px;
    background-color: #658c78;
    text-align: center;
    padding-top: 15px;
    float: none !important;
    margin: auto;
    margin-top: 73px;
  }
  .title-text {
    font-size: 25px;
  }
  .question-logo {
    width: 151px;
    height: auto;
    margin-bottom: -5px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .about-container {
    margin-top: 50px;
    width: 80%;
    text-align: center;
  }
  .services-container {
    flex-direction column !important;
  }
  .service-box {
    margin-right: 0px;
    margin-bottom: 17px;
  }
  .slides-container {
    flex-direction column !important;
  }
  .blog-container {
    background-color: #fff;
    width: 80%;
  }
  .blog-body {
    width 80%;
    text-align center;
  }
  .contact-box {
    position: relative;
    width: 100%;
    top 0;
    left 0;
    height: 415px;
    background-color: #91b1b3;
    z-index: 999;
  }
  .locate-title {
    padding-top: 10px;
    padding-bottom 20px;
  }
  .map-container {
    width: 100%;
    height: 300px;
    margin-top: 0px;
  }
  .footer-links-container{
    flex-flow: wrap;
    justify-content: space-around;
    width: 265px;
  }
  .links-second-section {
    padding-right: 0px !important;
    text-align: right;
  }
  .newsletter-box{
    padding-top 20px;
  }
  .blog-parallax-section {
    width: 100%;
    height: 393px;
    background: url(../img/shutterstock-346224740@3x.png);
    background-attachment: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
  }
  .girl-parallax-green-section {
    display none
  }
  .green-text-white-box {
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    width: 100%;
    margin: auto;
    padding-top: 28px;
    padding-bottom: 24px;
  }
  .white-section-bg {
    width: 100%;
    padding 0px;
    background-color: #fff;
    position: relative;
    height: 360px;
  }
  .green-text-container {
    width: 80%;
    text-align: center;
    margin: auto;
    padding-left 0px;
  }
  .green-section-text {
    font-size: 23px;
    padding-top: 44px;
  }
  .green-image-absolute {
    width: 100%;
    height: 230px;
    position: absolute;
    background-attachment: initial !important;
    right: 0;
    bottom: -0px;
    z-index: 1;
  }
  .dots-image-green-section {
    width: 95px;
    height: auto;
    position: absolute;
    right: 0;
    bottom: -35px;
    z-index: 1;
  }
  .grey-section {
    background-color: #f5f5f5;
    margin-top: -50px;
    position: relative;
    padding-top: 140px;
    padding-bottom: 67px;
  }
  .dots-image-blog-section {
    display none
  }
  .blog-subtitle {
    font-size: 17px;
    padding-top: 44px;
    line-height: 17px;
    text-align: center;
  }
  .contact-body {
    width: 300px;
    position: relative;
    padding-left: 0px;
    padding-top: 16px;
  }
  .contact-divider {
    height: 1px;
    width: 300px;
    background-color: #e5e5e5;
    margin-top: 10px;
  }
  .slides-container{
    height: auto !important;
  }
  .column-green-section {
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    position: relative;
    padding-top: 57px;
  }
  .green-section {
    background-image: linear-gradient(246deg, #152c1c, #2ea36f);
    opacity: 0.69;
    width: 100%;
    position: relative;
    height: 420px;
  }
  .links-first-section {
    padding-right: 100px;
  }
}
