.offices-body
  background-color: #f5f5f5
  margin-top 92px
.offices-title
  font-size 28px
  padding-top 46px
.offices-subtitle
  font-size 17px
  padding-top 21px
  text-align center
  width 252px
.offices-container
  padding-top 70px
.office-box
  width 393px
  height 363px
  box-shadow 0px 2px 4px rgba(0, 0, 0, 0.17)
  margin-left 21px
  margin-right 21px
  margin-bottom 60px
.office-body
  width 393px
  height 102px
  background-color #FFFFFF
.office-title
  font-size 18px
.green-office-text
  color #6ece1a
  padding-left 10px
.mint-office-text
  color #46dfb5
  padding-left 10px
.red-office-text
  color #e65a4f
  padding-left 10px
.violet-office-text
  color #ac00d9
  padding-left 10px
.yellow-office-text
  color #f5e518
  padding-left 10px
.blue-office-text
  color #126ae6
  padding-left 10px
.orange-office-text
  color #fd8d09
  padding-left 10px
.beige-office-text
  color #d69d34
  padding-left 10px
.grey-office-text
  color #898989
  padding-left 10px
.purple-office-text
  color #7b00fd
  padding-left 10px
.office-about-text
  font-size 12px
  width 277px
  text-align center
  padding-top 10px
.office-slider-item-container
  width 393px
  height 261px !important
.office-slider-item.green
  width 393px
  height 261px !important
  background url('../img/group-15@3x.png')
  background-attachment inherit
  background-repeat no-repeat
  background-position center top
  background-size cover
  position relative
.office-slider-item.mint
  width 393px
  height 261px !important
  background url('../img/group-18@3x.png')
  background-attachment inherit
  background-repeat no-repeat
  background-position center top
  background-size cover
  position relative
.office-slider-item.red
  width 393px
  height 261px !important
  background url('../img/group-21@3x.png')
  background-attachment inherit
  background-repeat no-repeat
  background-position center top
  background-size cover
  position relative
.office-slider-item.violet
  width 393px
  height 261px !important
  background url('../img/group-22@3x.png')
  background-attachment inherit
  background-repeat no-repeat
  background-position center top
  background-size cover
  position relative
.office-slider-item.yellow
  width 393px
  height 261px !important
  background url('../img/group-24@3x.png')
  background-attachment inherit
  background-repeat no-repeat
  background-position center top
  background-size cover
  position relative
.office-slider-item.blue
  width 393px
  height 261px !important
  background url('../img/group-18@3x.png')
  background-attachment inherit
  background-repeat no-repeat
  background-position center top
  background-size cover
  position relative
.office-slider-item.orange
  width 393px
  height 261px !important
  background url('../img/group-19@3x.png')
  background-attachment inherit
  background-repeat no-repeat
  background-position center top
  background-size cover
  position relative
.office-slider-item.beige
  width 393px
  height 261px !important
  background url('../img/group-20@3x.png')
  background-attachment inherit
  background-repeat no-repeat
  background-position center top
  background-size cover
  position relative
.office-slider-item.grey
  width 393px
  height 261px !important
  background url('../img/group-23@3x.png')
  background-attachment inherit
  background-repeat no-repeat
  background-position center top
  background-size cover
  position relative
.office-slider-item.purple
  width 393px
  height 261px !important
  background url('../img/group-25@3x.png')
  background-attachment inherit
  background-repeat no-repeat
  background-position center top
  background-size cover
  position relative
.offices-prev
  display block
  height 16px
  width 8px
  position absolute
  left 17px
  top 50%
  z-index +1
.offices-next
  display block
  height 16px
  width 8px
  position absolute
  right 17px
  top 50%
  z-index +1