.register-header
  padding-top 96px
  background-color #7bbaaf;
  justify-content flex-start
.register-title-box
  padding-top 79px
.register-title
  font-size 28px
.letter-spacing-dot-two
  letter-spacing 0.2px
.register-form-box
  padding-top 80px
.register-input-box
  width 284px
  padding-bottom 12px
.register-input
  width 100%
  border-radius 3px
  border solid 1px #e5e5e5
  background-color #FFFFFF
  color #9b9b9b
  font-size 11.5px
  height 35px
  padding-left 16px
.register-input::placeholder
  color #9b9b9b
.register-send-btn
  border none
  outline none
  background-color #6b806c
  font-size 11px
  padding 9px 15px
  border-radius 20px
  letter-spacing 0.2px
  margin-top 40px
  margin-bottom 144px
.register-padding-password
  padding-top 41px