.services-header
    width 100%
    height 423px
    margin-top 98px
    background url('../img/bitmap@3x6.png')
    background-attachment fixed
    background-repeat no-repeat
    background-position center top
    background-size cover
.services-header-title-box
  padding-top 29px
.services-header-title
  font-size 28px
.services-body
  background-color #f5f5f5
  width 864px
  margin auto
  margin-top -125px
.services-up-body
  background-color #f5f5f5
  width 864px
  margin auto
  margin-top -125px
.services-up-title
  font-size 23px 
.services-up-title-box
  padding-top 50px
  width 337px
  text-align center
.services-up-title-gold-divider
  width 40px
  height 5px
  background-color #c2a463
  margin auto
  margin-top 18px
.services-box
  width 252px
  height 80px
  box-shadow 0px 2px 4px rgba(0, 0, 0, 0.17)
  margin-left 10px
  margin-right 10px
  margin-top 12.5px
  margin-bottom 12.5px
  position relative
.services-boxes-body 
  padding-top 55px
  background-color #f5f5f5
.services-original-text
  width 136px
  font-size 14px
  margin-left 27px
.services-original-box
  background-color #FFFFFF
  width 252px
  height 80px
.services-gold-text
  width 192px
  font-size 12px
  text-align center
.services-original-icon.one
  width 37px
  height 30px
.services-original-icon.two
  width 37px
  height 30px
.services-original-icon.three
  width 32px
  height 32px
.services-original-icon.four
  width 28px
  height 36px
.services-original-icon.five
  width 20px
  height 35px
.services-original-icon.six
  width 23px
  height 21px
.services-original-icon.seven
  width 35px
  height 33px
.services-original-icon.eight
  width 28px
  height 28px
.services-original-icon.nine
  width 34px
  height 34px
.services-original-icon.ten
  width 32px
  height 31px
.services-original-icon.eleven
  width 30px
  height 36px
.services-gold-box
  width 252px
  height 80px
  display none
  background-color #c2a463
  position absolute
  left 0
  top 0
  z-index +1
.services-last-button-box
  background-color #658c78
  border-radius 100px
  padding 11px 16px
  width 162px
  text-align center
.services-last-button-container
  margin-top 76px
  margin-bottom 89px
.services-original-box:hover + .services-gold-box
  display flex
.services-original-box:hover + .services-gold-box:hover
  display flex