.tools-navbar-line
  width 100%
  height 1px
  margin-top 99px
  background-color #e5e5e5
.tools-header-title
  font-size 28px
.tools-header-title-box
  padding-top 42px
  padding-bottom 63px
.gold-text
  color #c2a463
.tools-box
  width 385px
  box-shadow 0px 2px 4px rgba(0, 0, 0, 0.17)
  padding-top 22px
  border solid 1px #f5f5f5
  margin-right 19px
  margin-left 19px
  margin-bottom 41px
.tool-title
  font-size 15px
  width 330px
  padding-left 26px
.tool-type
  font-size 15px
  padding-top 11px
  padding-left 26px
.tool-category
  font-size 11px
  line-height 18px
  padding-top 2px
  padding-left 26px
.tools-clock-icon
  width 11px
  height 11px
.tools-age
  font-size 15px
  border-right solid 1px #9b9b9b
  padding-right 7px
.tools-standard
  font-size 15px
  border-right solid 1px #9b9b9b
  padding-right 7px
.tools-age-restriction
  font-size 15px
  border-right solid 1px #9b9b9b
  padding-right 7px
.tools-time
  font-size 15px
.tools-inline-info
  padding-left 26px
.tools-divider
  width 99%
  height 1px
  background-color #e5e5e5
  margin-top 11px
  margin-right 0px
  margin-left auto
.tools-item-dot
  width 5px
  height 5px
  border-radius 5px
  background-color #c2a463
  margin-right 17px
.tools-list
  padding-left 39px
  padding-top 17px
.tools-list-item
  justify-content flex-start
.warm-grey-two-text
  color #898989
.tools-item-text
  font-size 13px
  line-height 18px
  font-weight lighter
.tools-green-box-text
  font-size 14px
  background-color #6b806c
  padding 4px 10px 4px 10px
.tools-grey-box-text
  font-size 14px
  background-color #9b9b9b
  padding 4px 10px 3px 10px
  border-radius 20px
.tools-footer
  justify-content space-between !important
  padding-left 39px
  padding-top 23px
  padding-bottom 14px
  padding-right 22px