.worksplace-header
  width 100%
  height 670px
  background url('../img/bitmap@3x3.png')
  background-attachment fixed
  background-repeat no-repeat
  background-position center top
  background-size cover
.nav li.workplaces
  display block
  float left
  list-style-type none
  margin-right 0.8em
  padding-top 20px
  border-top solid 4px transparent
.neopraxis-navbar.workplaces
  display -ms-flexbox
  display flex
  -ms-flex-align center
  align-items center
  -ms-flex-pack justify
  justify-content space-between
  position relative
  width 100%
  top 0
  background transparent
  z-index 9999
  padding-bottom 32px
.worksplace-header-box
  align-items flex-end !important
  padding-right 15%
.worksplace-header-title-box
  width 540px
.worksplace-header-subtitle-box
  width 540px
  padding-top 16px
.worksplace-header-title
  font-size 28px
.worksplace-header-subtitle
  font-size 23px
.worksplace-header-gold-divider
  width 40px
  height 5px
  background-color #c2a463
  float left
  margin-top 18px
.header-icon-arrow
  width 25px
  height 25px
.circle-arrow-box
  position absolute
  left 50%
  bottom 68px
  margin-left -12.5px
.worksplace-green-section
  width 90%
  margin-left auto
  background-image linear-gradient(215deg, rgba(21, 44, 28, 0.76), rgba(46, 163, 111, 0.76))
  position relative
  padding-top 56px
.worksplace-green-section-left-image
  width 65%
  height 351px
  margin-left -11%
  background url('../img/group@3x.png')
  background-attachment inherit
  background-repeat no-repeat
  background-position center top
  background-size cover
  position relative
.worksplace-green-section-right-image
  width 46%
  height 273px
  margin-bottom -56px
  position absolute
  right 0
  bottom 0
  background url('../img/group-2@3x2.png')
  background-attachment inherit
  background-repeat no-repeat
  background-position center top
  background-size cover
.worksplace-green-section-text-divider
  width 40px
  height 5px
  background-color #c2a463
  float left
  margin-top 18px
.worksplace-green-section-text-box
  width 314px
  position absolute
  right -365px
  top 34px
  z-index +1
.worksplace-green-section-text
  font-size 17px
  letter-spacing 0.1px
.worksplace-green-section-white-square
  width 110px
  height 110px
  background-color #ffffff
  position absolute
  right -20px
  top 65px
  z-index +1
.worksplace-green-section-dots
  width 78px
  height auto
  position absolute
  left 142px
  bottom -36px
  z-index 1
.worksplace-third-section
  height 310px
  width 100%
  position relative
.worksplace-third-section-text-box
  width 480px
  margin-left 72px
  margin-top 61px
.worksplace-third-section-text
  font-size 17px
  letter-spacing 0.1px
.worksplace-third-section-left-image
  width 50%
  height 389px
  margin-left 72px
  margin-top 82px
  background url('../img/bitmap@3x4.png')
  background-attachment inherit
  background-repeat no-repeat
  background-position center top
  background-size cover
  position relative
.worksplace-third-section-right-image
  width 52%
  height 302px
  position absolute
  right 61px
  top 97px
  background url('../img/bitmap@3x5.png')
  background-attachment inherit
  background-repeat no-repeat
  background-position center top
  background-size cover
.worksplace-third-section-white-square
  width 110px
  height 110px
  background-color #ffffff
  position absolute
  left -23px
  bottom -15px
  z-index +1
.worksplace-third-section-dots
  width 78px
  height auto
  position absolute
  left -31px
  bottom 31px
  z-index 1
.worksplace-green-section-filler
  width 100%
  height 340px
  margin-top -57px
  background-image linear-gradient(215deg, rgba(21, 44, 28, 0.76), rgba(46, 163, 111, 0.76))
.worksplace-parallax-gallery
  width 100%
  height 401px
.worksplace-parallax-gallery-item
  width 100%
  height 401px
  height 401px !important
.worksplace-parallax-gallery-item.first
  background url('../img/bitmap@3x5.png')
  background-attachment inherit
  background-repeat no-repeat
  background-position center top
  background-size cover
.worksplace-parallax-gallery-item.second
  background url('../img/bitmap@3x4.png')
  background-attachment inherit
  background-repeat no-repeat
  background-position center top
  background-size cover
.worksplace-parallax-gallery-item.third
  background url('../img/bitmap@3x.png')
  background-attachment inherit
  background-repeat no-repeat
  background-position center top
  background-size cover
.worksplace-parallax-gallery-item.fourth
  background url('../img/bitmap@3x3.png')
  background-attachment inherit
  background-repeat no-repeat
  background-position center top
  background-size cover
.slick-slide
  height auto !important
.worksplace-prev
  display block
  height 25px
  width 25px
  position absolute
  left 37px
  top 50%
  z-index +1
.worksplace-next
  display block
  height 25px
  width 25px
  position absolute
  right 37px
  top 50%
  z-index +1
.worksplace-last-section
  width 100%
.worksplace-last-section-image
  width 30%
  height 310px
  background url('../img/group-5@3x3.png')
  background-attachment inherit
  background-repeat no-repeat
  background-position center top
  background-size cover
  margin-bottom -4px
.worksplace-last-section-text-box
  vertical-align top
  padding-top 70px
  margin-left 72px
.worksplace-last-section-text
  font-size 17px
  letter-spacing 0.1px
  width 243px
.worksplace-last-section-gold-divider
  width 40px
  height 5px
  background-color #c2a463
  margin-top 18px
.worksplace-last-button-box
  background-color #658c78
  border-radius 100px
  padding 11px 16px
  width 162px
  text-align center
  margin-top 50px