{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
<div class="about-us-header">
  
</div>
<div class="about-us-body">
  <div class="about-us-up-section neopraxis-flex-column">
    <div class="about-us-title-box">
      <h1 class="no-margin-text neopraxis-font-montserrat-bold green-text about-us-title">Nosotros</h1>
    </div>
    <div class="neopraxis-flex-row about-us-content-box">
      <img src="./img/n-dot.png" class="about-us-dot-n">
      <p class="about-us-content-text neopraxis-font-myriadpro-regular letter-spacing-dot-one warm-grey-text no-margin-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
    </div>
    <div class="neopraxis-flex-row about-us-content-box">
      <img src="./img/n-dot.png" class="about-us-dot-n">
      <p class="about-us-content-text neopraxis-font-myriadpro-regular letter-spacing-dot-one warm-grey-text no-margin-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
    </div>
  </div>
  <div class="neopraxis-flex-row about-us-content-large-box">
    <img src="./img/n-dot.png" class="about-us-dot-n">
    <p class="about-us-content-large-text neopraxis-font-myriadpro-regular letter-spacing-dot-one warm-grey-text no-margin-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
  </div>
  <div class="about-us-button-container neopraxis-flex-column">
    <a href="./contact.html" class="button-link">
      <div class="about-us-button-box hover-green">
        <p class="neopraxis-font-montserrat-regular white-text see-more-btn-text no-margin-text letter-spacing-dot-six">CONTÁCTANOS</p>
      </div>
    </a>
  </div>
</div>
{% endblock %}