{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
<div class="about-us-header">
  
</div>
<div class="about-us-body">
  <div class="about-us-up-section neopraxis-flex-column">
    <div class="about-us-title-box">
      <h1 class="no-margin-text neopraxis-font-montserrat-bold green-text about-us-title">Nosotros</h1>
    </div>
    <div class="neopraxis-flex-row about-us-content-box">
      <p class="about-us-content-text neopraxis-font-myriadpro-regular letter-spacing-dot-one greyish-brown-text no-margin-text">Somos como tú. Apasionados de nuestra profesión, deseosos de trabajar en lo que mejor hacemos sin renunciar a nuestra calidad de vida. Tenemos grandes ideas esperando a despertar.
      </p>
    </div>
    <div class="neopraxis-flex-row about-us-content-box">
      <p class="about-us-content-text neopraxis-font-myriadpro-regular letter-spacing-dot-one greyish-brown-text no-margin-text">Hay 3 valores principales a los cuales apunta este proyecto: Prosperidad, Profesionalismo y Comunidad.</p>
    </div>
  </div>
  <div class="neopraxis-flex-row about-us-content-large-box">
    <img src="./img/n-dot.png" class="about-us-dot-n">
    <div class="about-us-content-box">
      <p class="neopraxis-font-montserrat-bold slate-green-text letter-spacing-dot-two no-margin-text about-us-content-title">Prosperidad</p>
      <p class="about-us-content-large-text neopraxis-font-myriadpro-regular letter-spacing-dot-one warm-grey-text no-margin-text">¿Qué estamos haciendo con nuestros años de lectura, de escucha, de ideas geniales, que las estadísticas reportan que la psicología es de las profesiones menos redituables en México? ¿Cómo pensamos nuestra práctica que nos elude la prosperidad? Estas son las preguntas que nos ocupan y motivan a ofrecer una estructura que permita el escalamiento de tu práctica, convirtiéndola en algo redituable desde el primer momento. Prosperidad implica desarrollo, y el bienestar que podamos lograr como profesionistas tendrá un alcance que impactará a su vez en los individuos y colectividades a las cuales vayan dirigidas nuestras intervenciones.</p>
    </div>
  </div>
  <div class="neopraxis-flex-row about-us-content-large-box-grey">
    <img src="./img/n-dot.png" class="about-us-dot-n">
    <div class="about-us-content-box">
      <p class="neopraxis-font-montserrat-bold slate-green-text letter-spacing-dot-two no-margin-text about-us-content-title">Profesionalismo</p>
      <p class="about-us-content-large-text neopraxis-font-myriadpro-regular letter-spacing-dot-one warm-grey-text no-margin-text">¿Qué implica conducir una práctica de manera profesional? Para nosotros, empieza desde tener acceso a un espacio de trabajo seguro y a la altura de lo que vale tu trabajo. Segundo, la oportunidad de desplegar todas tus habilidades a través del uso de herramientas y tecnologías que complementan el trabajo del psicólogo. Tercero, un continuo cuestionamiento ético favorecido por la supervisión, educación continua y referencias multidisciplinarias.</p>
    </div>
  </div>
  <div class="neopraxis-flex-row about-us-content-large-box-two">
    <img src="./img/n-dot.png" class="about-us-dot-n">
    <div class="about-us-content-box">
      <p class="neopraxis-font-montserrat-bold slate-green-text letter-spacing-dot-two no-margin-text about-us-content-title">Comunidad</p>
      <p class="about-us-content-large-text neopraxis-font-myriadpro-regular letter-spacing-dot-one warm-grey-text no-margin-text"> Desde los diferentes paradigmas teóricos que retroalimentan nuestra praxis, siempre podemos encontrar convergencias y aportaciones que nos enriquezcan. El aislamiento profesional nos debilita y obstruye nuestra capacidad creativa. Aunque a veces no lo pareciera, a la mayoría nos preocupan cosas similares: acrecentar el alcance de personas que recibimos en la consulta, que exista una mayor difusión de los talleres que organizamos, publicar investigaciones y textos que escribimos, transmitir nuestras ideas. Pero seguimos cada quien desde su trinchera; por miedo, por pena, por orgullo de aceptar que nos necesitamos. Generar y sostener una comunidad es nuestro mayor reto, que de conquistarlo las posibilidades son tan amplias que hasta cambiarán la manera en que futuras generaciones de colegas emprenden su práctica.</p>
    </div>
  </div>
  <div class="about-us-button-container neopraxis-flex-column">
    <a href="./contact.html" class="button-link click-scrolling">
      <div class="about-us-button-box hover-green">
        <p class="neopraxis-font-montserrat-regular white-text see-more-btn-text no-margin-text letter-spacing-dot-six">CONTÁCTANOS</p>
      </div>
    </a>
  </div>
</div>
{% endblock %}