{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
<div class="community-header">
  <div class="community-header-box neopraxis-flex-column">
    <div class="community-header-title-box">
      <h1 class="community-header-title white-text neopraxis-font-montserrat-bold letter-spacing-dot-two no-margin-text">Comunidad</h1>
    </div>
    <div class="community-header-subtitle-box">
      <h1 class="community-header-subtitle white-text neopraxis-font-myriadpro-regular letter-spacing-dot-two no-margin-text">Porque sabemos que compartir un espacio no basta para hacer comunidad.</h1>
    </div>
    <div class="community-header-gold-divider"></div>
  </div>
</div>
<div class="community-body neopraxis-flex-column">
  <div class="community-article-up-box neopraxis-flex-column">
    <img src="./img/icons/group-2@3x.png" class="community-article-icon first">
    <h1 class="community-article-title neopraxis-font-montserrat-bold slate-green-text no-margin-text letter-spacing-dot-one">Eventos de la comunidad</h1>
    <p class="community-article-text neopraxis-font-myriadpro-regular greyish-text no-margin-text">Organizamos experiencias con la finalidad de compartir, escuchar y conectar con otros colegas. Abrimos la conversación para dialogar sobre lo que nos apasiona y nos inquieta. Y si, ¡también para relajarnos un rato!</p>
  </div>
  <div class="community-article-middle-container neopraxis-flex-row">
    <div class="community-article-middle-box neopraxis-flex-column">
      <img src="./img/icons/group-9-mail.png" class="community-article-icon second">
      <h1 class="community-article-title neopraxis-font-montserrat-bold slate-green-text no-margin-text letter-spacing-dot-one">Newsletter</h1>
      <p class="community-article-text neopraxis-font-myriadpro-regular greyish-text no-margin-text">Conoce y comparte las últimas noticias relevantes a la práctica clínica del Psicólogo, entérate de las oportunidades de crecimiento profesional en la ciudad.</p>
    </div>
    <div class="community-article-middle-box neopraxis-flex-column">
      <img src="./img/icons/group-8@3x.png" class="community-article-icon third">
      <h1 class="community-article-title neopraxis-font-montserrat-bold slate-green-text no-margin-text letter-spacing-dot-one">Alianzas estratégicas</h1>
      <p class="community-article-text neopraxis-font-myriadpro-regular greyish-text no-margin-text">Continuamente estaremos buscando relaciones con empresas e instituciones de diferentes ramas para dar a conocer el trabajo de nuestros miembros buscando aumentar el número de referencias de pacientes y participación en proyectos.</p>
    </div>
  </div>
  <div class="community-article-last-box neopraxis-flex-column">
    <img src="./img/icons/group-7@3x.png" class="community-article-icon fourth">
    <h1 class="community-article-title neopraxis-font-montserrat-bold slate-green-text no-margin-text letter-spacing-dot-one">Eventos de la comunidad</h1>
    <p class="community-article-text neopraxis-font-myriadpro-regular greyish-text no-margin-text">Organizamos experiencias con la finalidad de compartir, escuchar y conectar con otros colegas. Abrimos la conversación para dialogar sobre lo que nos apasiona y nos inquieta. Y si, ¡también para relajarnos un rato!</p>
  </div>
</div>
{% endblock %}