{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
<div class="contact-header neopraxis-flex-column">
  <div class="contact-header-title-box">
    <h1 class="contact-header-title no-margin-text neopraxis-font-montserrat-bold letter-spacing-dot-two charcoal-text">Contacto</h1>
  </div>
</div>
 <form action="" method="get" accept-charset="utf-8">
  <div class="contact-body-container neopraxis-flex-column">
    <div class="contact-input-box">
      <input type="text" name="" value="" placeholder="Nombre" class="contact-input neopraxis-font-myriadpro-light warm-grey">
    </div>
    <div class="contact-input-box">
      <input type="text" name="" value="" placeholder="Correo electrónico" class="contact-input neopraxis-font-myriadpro-light warm-grey">
    </div>
    <div class="contact-input-box">
      <input type="text" name="" value="" placeholder="Teléfono/Celular" class="contact-input neopraxis-font-myriadpro-light warm-grey">
    </div>
    <div class="contact-input-box-textarea">
      <textarea name="" class="contact-input neopraxis-font-myriadpro-light warm-grey" placeholder="Mensaje(Opcional)"></textarea>
    </div>
    <div class="contact-checkbox-box neopraxis-flex-row">
      <input type="checkbox" name="email" value="" class="contact-checkbox inline-block">
      <p class="neopraxis-font-myriadpro-light warm-grey contact-way-text no-margin-text">Quiero que me contacten por correo</p>
    </div>
    <div class="contact-checkbox-box neopraxis-flex-row">
      <input type="checkbox" name="phone" value="" class="contact-checkbox inline-block">
      <p class="neopraxis-font-myriadpro-light warm-grey contact-way-text no-margin-text">Quiero que me contacten por teléfono</p>
    </div>
    <div class="contact-last-button-container neopraxis-flex-column">
      <button type="" class="white-text neopraxis-font-montserrat-regular contact-btn cursor-pointer hover-green letter-spacing-dot-six">ENVIAR</button>
    </div>
  </div>
</form>
<div class="contac-map-container">
  <div class="fixed-map-info-box neopraxis-flex-column">
    <h1 class="no-margin-text white-text neopraxis-font-montserrat-bold letter-spacing-dot-two map-info-title">Ubícanos</h1>
    <p class="no-margin-text white-text neopraxis-font-gandhisans-regular letter-spacing-dot-one map-info-address">Av. Chapultepec 480, Col. Roma Norte, Cuauhtémoc. CP 06700, CDMX</p>
    <div class="phone-box">
      <i class="fa fa-phone white-text contact-phone-icon inline-block" aria-hidden="true"></i>
      <p class="white-text neopraxis-font-gandhisans-regular no-margin-text inline-block phone-text">55 6786 5434</p>
    </div>
    <div class="phone-box">
      <i class="fa fa-whatsapp white-text contact-phone-icon inline-block" aria-hidden="true"></i>
      <p class="white-text neopraxis-font-gandhisans-regular no-margin-text inline-block phone-text">55 6786 5434</p>
    </div>
  </div>
  <div class="contact-map" id="contactMap">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwzwWOG7rzZc7soDadgDWmVTpMnbMIQm4&sensor=false">
    </script>
    <script>
      var map;
      function initialize() {
        var myLatLng = {lat: 19.4192741, lng: -99.1646228};
        var mapOptions = {
          zoom: 15,
          center: new google.maps.LatLng(19.4192741,-99.1646228),
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          scrollwheel: false
        };
        map = new google.maps.Map(document.getElementById('contactMap'),
          mapOptions);
        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });
      }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </div>
</div>
{% endblock %}