{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
<div id="freeTrialModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content cierralo-flex-colum">
    <div class="modal-close-btn-container">
      <span class="close"><img src="./img/icons/close-modal.png" class="close-modal-img"></span>
    </div>
    <div class="modal-header neopraxis-flex-column">
      <div class="modal-title-box">
        <p class="modal-title no-margin-text slate-green-text letter-spacing-dot-two inline-block">Prueba un consultorio de </p>
        <img src="./img/icons/neopraxis-logo-png@3x.png" class="modal-title-logo inline-block">
        <p class="modal-title no-margin-text slate-green-text letter-spacing-dot-two inline-block">gratis</p>
      </div>
      <div class="modal-gold-divider"></div>
    </div>
    <div class="modal-body neopraxis-flex-column">
      <p class="modal-subtitle no-margin-text warm-grey-text letter-spacing-dot-one">Llena tus datos y te contactaremos lo antes posible para tu prueba gratuita</p>
      <form action="" method="get" accept-charset="utf-8">
        <div class="contact-body-modal-container neopraxis-flex-column">
          <div class="contact-input-box landing">
            <input type="text" name="" value="" placeholder="Nombre" class="contact-input landing neopraxis-font-myriadpro-light warm-grey">
          </div>
          <div class="contact-input-box landing">
            <input type="text" name="" value="" placeholder="Correo electrónico" class="contact-input landing neopraxis-font-myriadpro-light warm-grey">
          </div>
          <div class="contact-input-box landing">
            <input type="text" name="" value="" placeholder="Teléfono/Celular" class="contact-input landing neopraxis-font-myriadpro-light warm-grey">
          </div>
          <div class="contact-input-box-textarea">
            <textarea name="" class="contact-input landing neopraxis-font-myriadpro-light warm-grey" placeholder="Mensaje(Opcional)"></textarea>
          </div>
          <div class="contact-checkbox-box neopraxis-flex-row">
            <input type="checkbox" name="email" value="" class="contact-checkbox inline-block">
            <p class="neopraxis-font-myriadpro-light warm-grey contact-way-text no-margin-text">Quiero que me contacten por correo</p>
          </div>
          <div class="contact-checkbox-box neopraxis-flex-row">
            <input type="checkbox" name="phone" value="" class="contact-checkbox inline-block">
            <p class="neopraxis-font-myriadpro-light warm-grey contact-way-text no-margin-text">Quiero que me contacten por teléfono</p>
          </div>
          <div class="contact-last-button-container neopraxis-flex-column">
            <button type="" class="white-text neopraxis-font-montserrat-regular contact-btn cursor-pointer hover-green letter-spacing-dot-six">ENVIAR</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="landing-header">
  <div class="header-parallax">
    <div class="header-navbar neopraxis-flex-row-end">
      <a href="" class="header-link">
        <div class="header-link-box active">
          <p class="no-margin-text neopraxis-font-montserrat-regular header-link-text white-text">Inicio</p>
          <div class="header-link-line">
            
          </div>
        </div>
      </a>
      <a href="" class="header-link">
        <div class="header-link-box active">
          <p class="no-margin-text neopraxis-font-montserrat-regular header-link-text white-text">Servicios</p>
        </div>
      </a>
      <a href="" class="header-link">
        <div class="header-link-box active">
          <p class="no-margin-text neopraxis-font-montserrat-regular header-link-text white-text">Membresías</p>
        </div>
      </a>
      <a href="" class="header-link">
        <div class="header-link-box active">
          <p class="no-margin-text neopraxis-font-montserrat-regular header-link-text white-text">Herramientas</p>
        </div>
      </a>
      <a href="" class="header-link">
        <div class="header-link-box active">
          <p class="no-margin-text neopraxis-font-montserrat-regular header-link-text white-text">Blog</p>
        </div>
      </a>
    </div>
    <div class="header-box">
      <div class="title-border-gold">
        
      </div>
      <p class="header-title no-margin-text neopraxis-font-montserrat-bold white-text">Más que rentar Consultorios,
        emprendemos una nueva Práctica</p>
        <p class="header-subtitle no-margin-text neopraxis-font-myriadpro-light white-text">¡Bienvenido a tu Comunidad!</p>
        <div class="header-try-button cursor-pointer hover-green" id="modalBtn">
          <p class="header-try-button-text no-margin-text uppercase white-text neopraxis-font-montserrat-regular letter-spacing-dot-six">prúebalo gratis</p>
        </div>
      </div>
    </div>
    <div class="header-right-section">
      <img src="./img/icons/neopraxis-logo-png@3x.png" alt="" class="header-logo">
      <div class="login-container">
        <a href="" class="login-link">
          <div class="inline-block login-button-box">
            <p class="no-margin-text login-button-text charcoal-text neopraxis-font-montserrat-regular">Iniciar sesión</p>
          </div>
        </a>
        <a href="" class="login-link">
          <div class="inline-block register-button-box">
            <p class="no-margin-text register-button-text white-text neopraxis-font-montserrat-regular">Registro</p>
          </div>
        </a>
      </div>
      <div class="header-green-block">
        <img src="./img/page-1-copy@3x.png" alt="" class="header-dots">
      </div>
    </div>
  </div>
  <div class="landing-body">
    <div class="white-section neopraxis-flex-column">
      <div class="title-container">
        <p class="title-text neopraxis-font-myriadpro-light letter-spacing-dot-three no-margin-text inline-block charcoal-text">¿ Por qué </p>
        <img src="./img/icons/neopraxis-logo-png@3x.png" alt="" class="question-logo inline-block">
        <p class="title-text neopraxis-font-myriadpro-light letter-spacing-dot-three no-margin-text inline-block charcoal-text"> ?</p>
      </div>
      <div class="title-divider"> 
      </div>
      <div class="about-container neopraxis-flex-column">
        <p class="about-text neopraxis-font-gandhisans-bold-italic no-margin-text line-height-twenty-two greyish-brown-text">Ya es hora de que las cosas cambien.</p> 
        <p class="about-text neopraxis-font-gandhisans-regular no-margin-text line-height-twenty-two greyish-brown-text">Sabemos que para crecer profesionalmente se necesita más que un espacio físico.</p>
        <p class="about-text neopraxis-font-gandhisans-regular no-margin-text line-height-twenty-two greyish-brown-text">Ten acceso <b><i>a tu propio consultorio</i></b> y a herramientas y servicios que favorezcan el crecimiento de tu práctica. </p>
        <p class="about-text neopraxis-font-gandhisans-regular no-margin-text line-height-twenty-two greyish-brown-text">No estas solo, aquí harás contacto con una red de colegas e instituciones con un fin en común: <b>establecer una nueva cultura de trabajo para el Psicólogo, que beneficie a toda la sociedad.</b></p>
      </div>
      <div class="services-container neopraxis-flex-row">
        <div class="service-box neopraxis-flex-column-end cursor-pointer">
          <div class="service-icon-one">
          </div>
          <p class="service-name neopraxis-font-montserrat-regular no-margin-text">Espacios de trabajo</p>
        </div>
        <div class="service-box neopraxis-flex-column-end cursor-pointer">
          <div class="service-icon-two">
          </div>
          <p class="service-name neopraxis-font-montserrat-regular no-margin-text">Servicios</p>
        </div>
        <div class="service-box neopraxis-flex-column-end cursor-pointer">
          <div class="service-icon-three">
          </div>
          <p class="service-name neopraxis-font-montserrat-regular no-margin-text">Comunidad</p>
        </div>
      </div>
      <div class="see-more-button-container neopraxis-flex-column">
        <a href="" class="button-link">
          <div class="see-more-button-box hover-green">
            <p class="neopraxis-font-montserrat-regular white-text see-more-btn-text no-margin-text letter-spacing-dot-six">CONOCE MÁS</p>
          </div>
        </a>
      </div>
    </div>
    <div class="white-section-bg left-padding neopraxis-flex-column">
      <div class="neopraxis-flex-column column-green-section">
        <div class="green-section">
          <div class="right-side inline-block">
            <div class="green-text-container neopraxis-flex-column">
              <p class="no-margin-text neopraxis-font-myriadpro-light letter-spacing-two white-text green-section-text">Revolucionando la Práctica clínica del <b>Psicólogo</b></p>
            </div>
          </div>
        </div>
        <div class="girl-parallax-green-section inline-block">
          <div class="bottom-text-container">
            <p class="dark-sage-text no-margin-text neopraxis-font-montserrat-bold green-text-white-box">¿Y si mi profesión es otra?</p>
          </div>
          <div class="white-rectangle">
            
          </div>
        </div>
        <div class="green-image-absolute">
          
        </div>
        <img src="./img/page-1-copy@3x.png" alt="" class="dots-image-green-section">
      </div>
    </div>
    <div class="grey-section neopraxis-flex-column">
      <p class="charcoal-text no-margin-text neopraxis-font-myriadpro-light grey-section-title letter-spacing-dot-two">Conoce nuestras <b>Membresías</b></p>
      <div class="slides-container neopraxis-flex-row">
        <div class="slide-one">
          <div class="closed-slide one neopraxis-flex-column">
            <p class="closed-slide-text no-margin-text white-text letter-spacing-dot-eight neopraxis-font-myriadpro-light">MEMBRESÍA</p>
            <p class="closed-slide-text no-margin-text white-text letter-spacing-dot-eight neopraxis-font-myriadpro-light">INTRO</p>
          </div>
          <div class="open-slide neopraxis-flex-column-start" id="one">
            <div class="slide-header">
              <p class="slide-title no-margin-text neopraxis-font-myriadpro-light letter-spacing-dot-eight white-text">MEMBRESÍA</p>
              <p class="slide-title no-margin-text neopraxis-font-myriadpro-light letter-spacing-dot-eight white-text">INTRO</p>
              <p class="slide-monthly no-margin-text neopraxis-font-snfs-italic letter-spacing-dot-seven white-text">Mensualidad: Gratis</p>
            </div>
            <div class="slide-divider">
              
            </div>
            <div class="slide-list">
              <div class="slide-item-list">
                <div class="inline-block olive-dot">
                </div>
                <p class="slide-item-text inline-block white-text letter-spacing-dot-seven neopraxis-font-snfs-text no-margin-text">$ 800 de anualidad </p>
              </div>
              <div class="slide-item-list">
                <div class="inline-block olive-dot double">
                </div>
                <p class="slide-item-text inline-block white-text letter-spacing-dot-seven neopraxis-font-montserrat-regular no-margin-text">Horas de consultorio incluidas: 0 al mes</p>
              </div>
              <div class="slide-item-list">
                <div class="inline-block olive-dot">
                </div>
                <p class="slide-item-text inline-block white-text letter-spacing-dot-seven neopraxis-font-montserrat-regular no-margin-text">Costo por hora: $190</p>
              </div>
              <div class="slide-item-list">
                <div class="inline-block olive-dot">
                </div>
                <p class="slide-item-text inline-block white-text letter-spacing-dot-seven neopraxis-font-montserrat-regular no-margin-text">Pruebas psicológicas: $170</p>
              </div>
              <div class="slide-item-list">
                <div class="inline-block olive-dot double">
                </div>
                <p class="slide-item-text inline-block white-text letter-spacing-dot-seven neopraxis-font-montserrat-regular no-margin-text">Acceso al espacio de comunidad: Con reservación</p>
              </div>
            </div>
          </div>
        </div>
        <div class="slide-two">
          <div class="closed-slide two neopraxis-flex-column">
            <p class="closed-slide-text no-margin-text white-text letter-spacing-dot-eight neopraxis-font-myriadpro-light">MEMBRESÍA</p>
            <p class="closed-slide-text no-margin-text white-text letter-spacing-dot-eight neopraxis-font-myriadpro-light">NEO</p>
          </div>
          <div class="open-slide neopraxis-flex-column-start" id="two">
            <div class="slide-header">
              <p class="slide-title no-margin-text neopraxis-font-myriadpro-light letter-spacing-dot-eight white-text">MEMBRESÍA</p>
              <p class="slide-title no-margin-text neopraxis-font-myriadpro-light letter-spacing-dot-eight white-text">NEO</p>
              <p class="slide-monthly no-margin-text neopraxis-font-snfs-italic letter-spacing-dot-seven white-text">Mensualidad: Desde $680</p>
            </div>
            <div class="slide-divider">
              
            </div>
            <div class="slide-list">
              <div class="slide-item-list">
                <div class="inline-block olive-dot">
                </div>
                <p class="slide-item-text inline-block white-text letter-spacing-dot-seven neopraxis-font-snfs-text no-margin-text">$ 800 de anualidad </p>
              </div>
              <div class="slide-item-list">
                <div class="inline-block olive-dot double">
                </div>
                <p class="slide-item-text inline-block white-text letter-spacing-dot-seven neopraxis-font-montserrat-regular no-margin-text">Horas de consultorio incluidas: 4 al mes</p>
              </div>
              <div class="slide-item-list">
                <div class="inline-block olive-dot">
                </div>
                <p class="slide-item-text inline-block white-text letter-spacing-dot-seven neopraxis-font-montserrat-regular no-margin-text">Costo por hora: $170</p>
              </div>
              <div class="slide-item-list">
                <div class="inline-block olive-dot">
                </div>
                <p class="slide-item-text inline-block white-text letter-spacing-dot-seven neopraxis-font-montserrat-regular no-margin-text">Pruebas psicológicas: 1 al mes</p>
              </div>
              <div class="slide-item-list">
                <div class="inline-block olive-dot double">
                </div>
                <p class="slide-item-text inline-block white-text letter-spacing-dot-seven neopraxis-font-montserrat-regular no-margin-text">Acceso libre al espacio de comunidad</p>
              </div>
            </div>
          </div>
        </div>
        <div class="slide-three">
          <div class="closed-slide three neopraxis-flex-column">
            <p class="closed-slide-text no-margin-text white-text letter-spacing-dot-eight neopraxis-font-myriadpro-light">MEMBRESÍA</p>
            <p class="closed-slide-text no-margin-text white-text letter-spacing-dot-eight neopraxis-font-myriadpro-light">EXER</p>
          </div>
          <div class="open-slide neopraxis-flex-column-start" id="three">
            <div class="slide-header">
              <p class="slide-title no-margin-text neopraxis-font-myriadpro-light letter-spacing-dot-eight white-text">MEMBRESÍA</p>
              <p class="slide-title no-margin-text neopraxis-font-myriadpro-light letter-spacing-dot-eight white-text">EXER</p>
              <p class="slide-monthly no-margin-text neopraxis-font-snfs-italic letter-spacing-dot-seven white-text">Mensualidad: Desde $1200</p>
            </div>
            <div class="slide-divider">
              
            </div>
            <div class="slide-list">
              <div class="slide-item-list">
                <div class="inline-block olive-dot">
                </div>
                <p class="slide-item-text inline-block white-text letter-spacing-dot-seven neopraxis-font-snfs-text no-margin-text">$ 800 de anualidad </p>
              </div>
              <div class="slide-item-list">
                <div class="inline-block olive-dot double">
                </div>
                <p class="slide-item-text inline-block white-text letter-spacing-dot-seven neopraxis-font-montserrat-regular no-margin-text">Horas de consultorio incluidas: 8 al mes</p>
              </div>
              <div class="slide-item-list">
                <div class="inline-block olive-dot">
                </div>
                <p class="slide-item-text inline-block white-text letter-spacing-dot-seven neopraxis-font-montserrat-regular no-margin-text">Costo por hora: $150</p>
              </div>
              <div class="slide-item-list">
                <div class="inline-block olive-dot">
                </div>
                <p class="slide-item-text inline-block white-text letter-spacing-dot-seven neopraxis-font-montserrat-regular no-margin-text">Pruebas psicológicas: 2 al mes</p>
              </div>
              <div class="slide-item-list">
                <div class="inline-block olive-dot double">
                </div>
                <p class="slide-item-text inline-block white-text letter-spacing-dot-seven neopraxis-font-montserrat-regular no-margin-text">Acceso libre al espacio de comunidad</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="see-more-button-container neopraxis-flex-column">
        <a href="" class="button-link">
          <div class="see-more-button-box hover-green">
            <p class="neopraxis-font-montserrat-regular white-text see-more-btn-text no-margin-text letter-spacing-dot-six">VER MÁS</p>
          </div>
        </a>
      </div>
    </div>
    <div class="blog-parallax-section">
      
    </div>
    <div class="white-section-blog neopraxis-flex-column">
      <div class="dots-box-blog">
        <img src="./img/page-1-copy@3x.png" alt="" class="dots-image-blog-section">
      </div>
      <div class="blog-container neopraxis-flex-column">
        <p class="no-margin-text charcoal-text neopraxis-font-montserrat-bold blog-title letter-spacing-dot-two">Blog</p>
        <div class="blog-body">
          <p class="no-margin-text charcoal-text neopraxis-font-montserrat-bold blog-subtitle letter-spacing-dot-two">Lorem ipsum dolor sit amet</p>
          <p class="neopraxis-font-myriadpro-regular no-margin-text charcoal-text blog-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum… <a class="keep-reading-link">Seguir leyendo</a> </p>
          <img src="./img/pexels-photo-172748@3x.png" alt="" class="blog-image">
          <div class="share-container">
            <a href="" class="share-blog-link">
              <img src="./img/icons/page-1-copy-4@3x.png" alt="" class="share-blog-icon">
            </a>
            <a href="" class="share-blog-link">
              <img src="./img/icons/twitter-logo-button@3x.png" alt="" class="share-blog-icon">
            </a>
            <a href="" class="share-blog-link">
              <img src="./img/icons/facebook-logo-button@3x.png" alt="" class="share-blog-icon">
            </a>
          </div>
          <div class="more-blog-button-container neopraxis-flex-column">
            <a href="" class="button-link">
              <div class="see-more-button-box hover-green">
                <p class="neopraxis-font-montserrat-regular white-text see-more-btn-text no-margin-text letter-spacing-dot-six">CONOCE MÁS</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="blog-divider">  
      </div>
    </div>
    <div class="locate-section neopraxis-flex-column">
      <p class="no-margin-text charcoal-text neopraxis-font-montserrat-bold locate-title letter-spacing-dot-two">Ubícanos</p>
      <div class="contact-box neopraxis-flex-column-start">
        <p class="contact-address white-text neopraxis-font-gandhisans-regular no-margin-text">Av. Chapultepec 480, Col. Roma Norte, Cuauhtémoc. CP 06700, CDMX</p>
        <div class="contact-phone-container">
          <div class="phone-box">
            <i class="fa fa-phone white-text contact-phone-icon inline-block" aria-hidden="true"></i>
            <p class="white-text neopraxis-font-gandhisans-regular no-margin-text inline-block phone-text">55 6786 5434</p>
          </div>
          <div class="phone-box">
            <i class="fa fa-whatsapp white-text contact-phone-icon inline-block" aria-hidden="true"></i>
            <p class="white-text neopraxis-font-gandhisans-regular no-margin-text inline-block phone-text">55 6786 5434</p>
          </div>
        </div>
        <div class="contact-divider">
          
        </div>
        <div class="contact-body neopraxis-flex-column">
          <p class="neopraxis-font-montserrat-regular no-margin-text white-text contact-text uppercase">Deja tus datos y te contactaremos</p>
          <div class="neopraxis-flex-row space-between">
            <div class="contact-form neopraxis-flex-column">
              <form>
                <input type="text" name="" value="" placeholder="Nombre y apellido" class="white-text neopraxis-font-myriadpro-light input-contact" onfocus="this.placeholder = ''">
                <input type="text" name="" value="" placeholder="Correo electrónico" class="white-text neopraxis-font-myriadpro-light input-contact" onfocus="this.placeholder = ''">
                <input type="text" name="" value="" placeholder="Teléfono" class="white-text neopraxis-font-myriadpro-light input-contact" onfocus="this.placeholder = ''">
                <button type="" class="float-left white-text neopraxis-font-montserrat-regular send-contact-btn cursor-pointer letter-spacing-dot-six">ENVIAR</button>
              </form>
            </div>
            <div class="transport-container neopraxis-flex-column">
              <div class="transport-tooltip-box">
                <img src="./img/icons/shape@3x.png" alt="" class="transport-icon">
                <span class="tooltip-text neopraxis-font-myriadpro-light">Metro Sevilla, Metro Insurgentes</span>
              </div>
              <div class="transport-tooltip-box">
                <img src="./img/icons/np-car-72-ffffff@3x.png" alt="" class="transport-icon">
                <span class="tooltip-text neopraxis-font-myriadpro-light">Tooltip text</span>
              </div>
              <div class="transport-tooltip-box">
                <img src="./img/icons/np-bicycle-888651-ffffff@3x.png" alt="" class="transport-icon">
                <span class="tooltip-text neopraxis-font-myriadpro-light">Tooltip text</span>
              </div>
              <div class="transport-tooltip-box">
                <img src="./img/icons/np-store-910119-ffffff@3x.png" alt="" class="transport-icon">
                <span class="tooltip-text neopraxis-font-myriadpro-light">Tooltip text</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="map-container" id="googleMap">
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwzwWOG7rzZc7soDadgDWmVTpMnbMIQm4&sensor=false">
        </script>
        <script>
          var map;
          function initialize() {
            var myLatLng = {lat: 19.4192741, lng: -99.1646228};
            var mapOptions = {
              zoom: 15,
              center: new google.maps.LatLng(19.4192741,-99.1646228),
              mapTypeId: google.maps.MapTypeId.ROADMAP,
              scrollwheel: false
            };
            map = new google.maps.Map(document.getElementById('googleMap'),
              mapOptions);
            var marker = new google.maps.Marker({
              position: myLatLng,
              map: map,
              title: 'Hello World!'
            });
          }

          google.maps.event.addDomListener(window, 'load', initialize);
        </script>
      </div>
    </div>
  </div>
</div>
{% endblock %}