{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
<div class="login-header neopraxis-flex-column">
  <div class="login-title-box">
    <p class="login-title neopraxis-font-montserrat-bold white-text no-margin-text letter-spacing-dot-two">Iniciar sesión</p>
  </div>
  <form>
    <div class="login-form-box neopraxis-flex-column">
      <div class="login-input-box">
        <input type="text" name="" value="" placeholder="Correo electrónico" class="login-input neopraxis-font-myriadpro-light" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Correo electrónico'" >
      </div>
      <div class="login-input-box">
        <input type="text" name="" value="" placeholder="Contraseña" class="login-input neopraxis-font-myriadpro-light" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Contraseña'" >
      </div>
      <button type="submit" class="login-send-btn uppercase neopraxis-font-montserrat-regular white-text cursor-pointer hover-green">Iniciar sesión</button>
    </div>
  </form>
</div>
{% endblock %}