{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
  <div class="offices-body neopraxis-flex-column">
    <h1 class="offices-title no-margin-text neopraxis-font-montserrat-bold charcoal-text">Consultorios</h1>
    <h1 class="offices-subtitle no-margin-text neopraxis-font-myriadpro-regular warm-grey-text letter-spacing-dot-one">Conoce nuestros espacios disponibles</h1>
    <div class="offices-container neopraxis-flex-row">
      <div class="offices-left-container neopraxis-flex-column">
        <div class="office-box">
          <div class="office-mini-slide " id="green-slider">
            <div class="office-slider-item-container">
              <div class="office-slider-item"></div>
            </div>
            <div class="office-slider-item-container">
              <div class="office-slider-item"></div>
            </div>
            <div class="office-slider-item-container">
              <div class="office-slider-item"></div>
            </div>
          </div>
          <div class="office-body neopraxis-flex-column">
            <div class="office-title-box">
              <p class="office-title inline-block no-margin-text charcoal-text neopraxis-font-montserrat-bold">Consultorio </p><p class="office-title green-office-text inline-block no-margin-text neopraxis-font-montserrat-bold"> verde</p>
            </div>
            <p class="office-about-text no-margin-text warm-grey-text neopraxis-myriadpro-regular">Nventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
          </div>
        </div>
        <div class="office-box">
          <div class="office-mini-slide " id="mint-slider">
            <div class="office-slider-item-container">
              <div class="office-slider-item"></div>
            </div>
            <div class="office-slider-item-container">
              <div class="office-slider-item"></div>
            </div>
            <div class="office-slider-item-container">
              <div class="office-slider-item"></div>
            </div>
          </div>
          <div class="office-body neopraxis-flex-column">
            <div class="office-title-box">
              <p class="office-title inline-block no-margin-text charcoal-text neopraxis-font-montserrat-bold">Consultorio </p><p class="office-title mint-office-text inline-block no-margin-text neopraxis-font-montserrat-bold"> menta</p>
            </div>
            <p class="office-about-text no-margin-text warm-grey-text neopraxis-myriadpro-regular">Nventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
          </div>
        </div>
        <div class="office-box">
          <div class="office-mini-slide " id="red-slider">
            <div class="office-slider-item-container">
              <div class="office-slider-item"></div>
            </div>
            <div class="office-slider-item-container">
              <div class="office-slider-item"></div>
            </div>
            <div class="office-slider-item-container">
              <div class="office-slider-item"></div>
            </div>
          </div>
          <div class="office-body neopraxis-flex-column">
            <div class="office-title-box">
              <p class="office-title inline-block no-margin-text charcoal-text neopraxis-font-montserrat-bold">Consultorio </p><p class="office-title red-office-text inline-block no-margin-text neopraxis-font-montserrat-bold"> rojo</p>
            </div>
            <p class="office-about-text no-margin-text warm-grey-text neopraxis-myriadpro-regular">Nventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
          </div>
        </div>
        <div class="office-box">
          <div class="office-mini-slide " id="violet-slider">
            <div class="office-slider-item-container">
              <div class="office-slider-item"></div>
            </div>
            <div class="office-slider-item-container">
              <div class="office-slider-item"></div>
            </div>
            <div class="office-slider-item-container">
              <div class="office-slider-item"></div>
            </div>
          </div>
          <div class="office-body neopraxis-flex-column">
            <div class="office-title-box">
              <p class="office-title inline-block no-margin-text charcoal-text neopraxis-font-montserrat-bold">Consultorio </p><p class="office-title violet-office-text inline-block no-margin-text neopraxis-font-montserrat-bold"> violeta</p>
            </div>
            <p class="office-about-text no-margin-text warm-grey-text neopraxis-myriadpro-regular">Nventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
          </div>
        </div>
        <div class="office-box">
          <div class="office-mini-slide " id="yellow-slider">
            <div class="office-slider-item-container">
              <div class="office-slider-item"></div>
            </div>
            <div class="office-slider-item-container">
              <div class="office-slider-item"></div>
            </div>
            <div class="office-slider-item-container">
              <div class="office-slider-item"></div>
            </div>
          </div>
          <div class="office-body neopraxis-flex-column">
            <div class="office-title-box">
              <p class="office-title inline-block no-margin-text charcoal-text neopraxis-font-montserrat-bold">Consultorio </p><p class="office-title yellow-office-text inline-block no-margin-text neopraxis-font-montserrat-bold"> amarillo</p>
            </div>
            <p class="office-about-text no-margin-text warm-grey-text neopraxis-myriadpro-regular">Nventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
          </div>
        </div>
      </div>
      <div class="offices-right-container">
        <div class="office-box">
          <div class="office-mini-slide " id="blue-slider">
            <div class="office-slider-item-container">
              <div class="office-slider-item"></div>
            </div>
            <div class="office-slider-item-container">
              <div class="office-slider-item"></div>
            </div>
            <div class="office-slider-item-container">
              <div class="office-slider-item"></div>
            </div>
          </div>
          <div class="office-body neopraxis-flex-column">
            <div class="office-title-box">
              <p class="office-title inline-block no-margin-text charcoal-text neopraxis-font-montserrat-bold">Consultorio </p><p class="office-title blue-office-text inline-block no-margin-text neopraxis-font-montserrat-bold"> azul</p>
            </div>
            <p class="office-about-text no-margin-text warm-grey-text neopraxis-myriadpro-regular">Nventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
          </div>
        </div>
        <div class="office-box">
          <div class="office-mini-slide " id="orange-slider">
            <div class="office-slider-item-container">
              <div class="office-slider-item"></div>
            </div>
            <div class="office-slider-item-container">
              <div class="office-slider-item"></div>
            </div>
            <div class="office-slider-item-container">
              <div class="office-slider-item"></div>
            </div>
          </div>
          <div class="office-body neopraxis-flex-column">
            <div class="office-title-box">
              <p class="office-title inline-block no-margin-text charcoal-text neopraxis-font-montserrat-bold">Consultorio </p><p class="office-title orange-office-text inline-block no-margin-text neopraxis-font-montserrat-bold"> naranja</p>
            </div>
            <p class="office-about-text no-margin-text warm-grey-text neopraxis-myriadpro-regular">Nventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
          </div>
        </div>
        <div class="office-box">
          <div class="office-mini-slide " id="beige-slider">
            <div class="office-slider-item-container">
              <div class="office-slider-item"></div>
            </div>
            <div class="office-slider-item-container">
              <div class="office-slider-item"></div>
            </div>
            <div class="office-slider-item-container">
              <div class="office-slider-item"></div>
            </div>
          </div>
          <div class="office-body neopraxis-flex-column">
            <div class="office-title-box">
              <p class="office-title inline-block no-margin-text charcoal-text neopraxis-font-montserrat-bold">Consultorio </p><p class="office-title beige-office-text inline-block no-margin-text neopraxis-font-montserrat-bold"> beige</p>
            </div>
            <p class="office-about-text no-margin-text warm-grey-text neopraxis-myriadpro-regular">Nventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
          </div>
        </div>
        <div class="office-box">
          <div class="office-mini-slide " id="grey-slider">
            <div class="office-slider-item-container">
              <div class="office-slider-item"></div>
            </div>
            <div class="office-slider-item-container">
              <div class="office-slider-item"></div>
            </div>
            <div class="office-slider-item-container">
              <div class="office-slider-item"></div>
            </div>
          </div>
          <div class="office-body neopraxis-flex-column">
            <div class="office-title-box">
              <p class="office-title inline-block no-margin-text charcoal-text neopraxis-font-montserrat-bold">Consultorio </p><p class="office-title grey-office-text inline-block no-margin-text neopraxis-font-montserrat-bold"> gris</p>
            </div>
            <p class="office-about-text no-margin-text warm-grey-text neopraxis-myriadpro-regular">Nventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
          </div>
        </div>
        <div class="office-box">
          <div class="office-mini-slide " id="purple-slider">
            <div class="office-slider-item-container">
              <div class="office-slider-item"></div>
            </div>
            <div class="office-slider-item-container">
              <div class="office-slider-item"></div>
            </div>
            <div class="office-slider-item-container">
              <div class="office-slider-item"></div>
            </div>
          </div>
          <div class="office-body neopraxis-flex-column">
            <div class="office-title-box">
              <p class="office-title inline-block no-margin-text charcoal-text neopraxis-font-montserrat-bold">Consultorio </p><p class="office-title purple-office-text inline-block no-margin-text neopraxis-font-montserrat-bold"> morado</p>
            </div>
            <p class="office-about-text no-margin-text warm-grey-text neopraxis-myriadpro-regular">Nventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}