{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
<div class="register-header neopraxis-flex-column">
  <div class="register-title-box">
    <p class="register-title neopraxis-font-montserrat-bold white-text no-margin-text letter-spacing-dot-two">Registro</p>
  </div>
  <form>
    <div class="register-form-box neopraxis-flex-column">
      <div class="register-input-box">
        <input type="text" name="" value="" placeholder="Nombre y apellido" class="register-input neopraxis-font-myriadpro-light" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nombre y apellido'" >
      </div>
      <div class="register-input-box">
        <input type="text" name="" value="" placeholder="Correo electrónico" class="register-input neopraxis-font-myriadpro-light" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Correo electrónico'" >
      </div>
      <div class="register-input-box">
        <input type="text" name="" value="" placeholder="Teléfono" class="register-input neopraxis-font-myriadpro-light" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Teléfono'" >
      </div>
      <div class="register-input-box register-padding-password">
        <input type="text" name="" value="" placeholder="Contraseña" class="register-input neopraxis-font-myriadpro-light" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Contraseña'" >
      </div>
      <div class="register-input-box">
        <input type="text" name="" value="" placeholder="Confirmar contraseña" class="register-input neopraxis-font-myriadpro-light" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirmar contraseña'" >
      </div>
      <button type="submit" class="register-send-btn uppercase neopraxis-font-montserrat-regular white-text cursor-pointer hover-green">Registrarme</button>
    </div>
  </form>
</div>
{% endblock %}