{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
<div class="services-header">
  <div class="services-header-box neopraxis-flex-column">
    <div class="services-header-title-box">
      <h1 class="services-header-title charcoal-text neopraxis-font-montserrat-bold letter-spacing-dot-two no-margin-text">Servicios</h1>
    </div>
  </div>
</div>
<div class="services-body">
  <div class="services-up-body neopraxis-flex-column">
    <div class="services-up-title-box">
      <h1 class="services-up-title neopraxis-font-myriadpro-regular letter-spacing-dot-two greyish-text no-margin-text">Ofrecemos hasta lo que no sabías que necesitabas</h1>
      <div class="services-up-title-gold-divider"></div>
    </div>
  </div>
</div>
<div class="services-boxes-body neopraxis-flex-column">
  <div class="neopraxis-flex-row services-box-row">
    <div class="services-box cursor-pointer">
      <div class="services-original-box neopraxis-flex-row">
        <img src="./img/icons/Plataforma-de-reservación.png" class="services-original-icon one">
        <p class="services-original-text no-margin-text neopraxis-font-montserrat-regular warm-grey-text">Plataforma de reservación en línea</p>
      </div>
      <div class="services-gold-box neopraxis-flex-row">
        <p class="services-gold-text no-margin-text neopraxis-font-montserrat-regular white-text">Agenda un espacio y herramienta de trabajo al momento, desde donde estés.</p>
      </div>
    </div>
    <div class="services-box cursor-pointer">
      <div class="services-original-box neopraxis-flex-row">
        <img src="./img/icons/group-9@3x3.png" class="services-original-icon two">
        <p class="services-original-text no-margin-text neopraxis-font-montserrat-regular warm-grey-text">Dossier de pruebas psicológicas</p>
      </div>
      <div class="services-gold-box neopraxis-flex-row">
        <p class="services-gold-text no-margin-text neopraxis-font-montserrat-regular white-text">Acceso a un catálogo extenso en constante actualización de las pruebas más utilizadas con adolescentes y adultos.</p>
      </div>
    </div>
    <div class="services-box cursor-pointer">
      <div class="services-original-box neopraxis-flex-row">
        <img src="./img/icons/group-8@3x4.png" class="services-original-icon three">
        <p class="services-original-text no-margin-text neopraxis-font-montserrat-regular warm-grey-text">Horario extendido</p>
      </div>
      <div class="services-gold-box neopraxis-flex-row">
        <p class="services-gold-text no-margin-text neopraxis-font-montserrat-regular white-text">Lunes a Viernes de 9:00 a 21:00 hrs. y Sábados de 8:00 a 18:00 hrs.</p>
      </div>
    </div>
  </div>
  <div class="neopraxis-flex-row services-box-row">
    <div class="services-box cursor-pointer">
      <div class="services-original-box neopraxis-flex-row">
        <img src="./img/icons/group-4@3x5.png" class="services-original-icon five">
        <p class="services-original-text no-margin-text neopraxis-font-montserrat-regular warm-grey-text">Limpieza</p>
      </div>
      <div class="services-gold-box neopraxis-flex-row">
        <p class="services-gold-text no-margin-text neopraxis-font-montserrat-regular white-text">No tendrás que preocuparte, tu espacio siempre estará cuidado y listo para que lo utilices.</p>
      </div>
    </div>
    <div class="services-box cursor-pointer">
      <div class="services-original-box neopraxis-flex-row">
        <img src="./img/icons/group-5@3x7.png" class="services-original-icon six">
        <p class="services-original-text no-margin-text neopraxis-font-montserrat-regular warm-grey-text">Internet de Alta Velocidad</p>
      </div>
      <div class="services-gold-box neopraxis-flex-row">
        <p class="services-gold-text no-margin-text neopraxis-font-montserrat-regular white-text">Para simplemente navegar hasta organizar video-conferencias.</p>
      </div>
    </div>
    <div class="services-box cursor-pointer">
      <div class="services-original-box neopraxis-flex-row">
        <img src="./img/icons/group-7@3x6.png" class="services-original-icon four">
        <p class="services-original-text no-margin-text neopraxis-font-montserrat-regular warm-grey-text">Seguridad</p>
      </div>
      <div class="services-gold-box neopraxis-flex-row">
        <p class="services-gold-text no-margin-text neopraxis-font-montserrat-regular white-text">Nuestro personal está entrenado en manejo de situaciones especiales con pacientes.</p>
      </div>
    </div>
  </div>
  <div class="neopraxis-flex-row services-box-row">
    <div class="services-box cursor-pointer">
      <div class="services-original-box neopraxis-flex-row">
        <img src="./img/icons/group-12@3x.png" class="services-original-icon seven">
        <p class="services-original-text no-margin-text neopraxis-font-montserrat-regular warm-grey-text">Café, té, agua y Snacks saludables</p>
      </div>
      <div class="services-gold-box neopraxis-flex-row">
        <p class="services-gold-text no-margin-text neopraxis-font-montserrat-regular white-text">Déjate consentir con un café, té o una bebida refrescante en lo que esperas a tu siguiente paciente.</p>
      </div>
    </div>
    <div class="services-box cursor-pointer">
      <div class="services-original-box neopraxis-flex-row">
        <img src="./img/icons/group-13@3x.png" class="services-original-icon eight">
        <p class="services-original-text no-margin-text neopraxis-font-montserrat-regular warm-grey-text">Uso de Dirección Comercial</p>
      </div>
      <div class="services-gold-box neopraxis-flex-row">
        <p class="services-gold-text no-margin-text neopraxis-font-montserrat-regular white-text">Usa nuestra dirección para que tus pacientes sepan donde encontrarte.</p>
      </div>
    </div>
    <div class="services-box cursor-pointer">
      <div class="services-original-box neopraxis-flex-row">
        <img src="./img/icons/group-14@3x.png" class="services-original-icon nine">
        <p class="services-original-text no-margin-text neopraxis-font-montserrat-regular warm-grey-text">Concierge Académico</p>
      </div>
      <div class="services-gold-box neopraxis-flex-row">
        <p class="services-gold-text no-margin-text neopraxis-font-montserrat-regular white-text">Asistiéndote en tu búsqueda de artículos en bases de datos nacionales e internacionales pública y/o privada.</p>
      </div>
    </div>
  </div>
  <div class="neopraxis-flex-row services-box-row">
    <div class="services-box cursor-pointer">
      <div class="services-original-box neopraxis-flex-row">
        <img src="./img/icons/page-1@3x.png" class="services-original-icon ten">
        <p class="services-original-text no-margin-text neopraxis-font-montserrat-regular warm-grey-text">Impresora</p>
      </div>
      <div class="services-gold-box neopraxis-flex-row">
        <p class="services-gold-text no-margin-text neopraxis-font-montserrat-regular white-text">Imprime, copia y escanea lo que necesites para consultar.</p>
      </div>
    </div>
    <div class="services-box cursor-pointer">
      <div class="services-original-box neopraxis-flex-row">
        <img src="./img/icons/group-10@3x.png" class="services-original-icon eleven">
        <p class="services-original-text no-margin-text neopraxis-font-montserrat-regular warm-grey-text">Manejo de agenda</p>
      </div>
      <div class="services-gold-box neopraxis-flex-row">
        <p class="services-gold-text no-margin-text neopraxis-font-montserrat-regular white-text">Agendamos y confirmamos tus citas.</p>
      </div>
    </div>
  </div>
  <div class="services-last-button-container">
    <a href="./offices.html" class="button-link">
      <div class="services-last-button-box hover-green">
        <p class="neopraxis-font-montserrat-regular white-text see-more-btn-text no-margin-text letter-spacing-dot-six">VER CONSULTORIOS</p>
      </div>
    </a>
  </div>
</div>
{% endblock %}