{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
<div class="tools-navbar-line"></div>
<div class="tools-header neopraxis-flex-column">
  <div class="tools-header-title-box">
    <h1 class="tools-header-title neopraxis-font-montserrat-bold letter-spacing-dot-two charcoal-text no-margin-text">Herramientas</h1>
  </div>
</div>
<div class="tools-body neopraxis-flex-row">
  <div class="tools-left-column">
    <div class="tools-box">
      <p class="no-margin-text letter-spacing-dot-one neopraxis-font-montserrat-regular tool-title greyish-text">Inventario Multifásico de la Personalidad Minnesota - 2</p>
      <p class="no-margin-text letter-spacing-dot-one neopraxis-font-montserrat-regular tool-type greyish-text">MMPI-1</p>
      <p class="no-margin-text letter-spacing-dot-one neopraxis-font-montserrat-regular tool-category gold-text">Digital y Manual</p>
      <div class="tools-inline-info">
        <p class="inline-block tools-age warm-grey-text neopraxis-font-montserrat-regular">2015</p>
        <p class="inline-block tools-standard warm-grey-text neopraxis-font-montserrat-regular">Estandarizada</p>
        <p class="inline-block tools-age-restriction warm-grey-text neopraxis-font-montserrat-bold">18+</p>
        <img src="./img/icons/Reloj-dorado.png" class="inline-block tools-clock-icon">
        <p class="inline-block tools-time warm-grey-text neopraxis-font-montserrat-regular">60-90 min</p>
      </div>
      <div class="tools-divider"></div>
      <div class="tools-list">
        <div class="tools-list-item neopraxis-flex-row">
          <div class="tools-item-dot"></div>
          <p class="tools-item-text no-margin-text neopraxis-font-montserrat-regular warm-grey-two-text">Manual de aplicación y calificación</p>
        </div>
        <div class="tools-list-item neopraxis-flex-row">
          <div class="tools-item-dot"></div>
          <p class="tools-item-text no-margin-text neopraxis-font-montserrat-regular warm-grey-two-text">Cuaderno de aplicación</p>
        </div>
        <div class="tools-list-item neopraxis-flex-row">
          <div class="tools-item-dot"></div>
          <p class="tools-item-text no-margin-text neopraxis-font-montserrat-regular warm-grey-two-text">Hoja de respuestas</p>
        </div>
        <div class="tools-list-item neopraxis-flex-row">
          <div class="tools-item-dot"></div>
          <p class="tools-item-text no-margin-text neopraxis-font-montserrat-regular warm-grey-two-text">Plantillas de calificación</p>
        </div>
        <div class="tools-list-item neopraxis-flex-row">
          <div class="tools-item-dot"></div>
          <p class="tools-item-text no-margin-text neopraxis-font-montserrat-regular warm-grey-two-text">Tarjetas de acceso electrónico</p>
        </div>
      </div>
      <div class="tools-footer neopraxis-flex-row">
        <p class="tools-green-box-text white-text no-margin-text neopraxis-font-montserrat-regular letter-spacing-dot-one">Clínica</p>
        <p class="tools-grey-box-text white-text no-margin-text neopraxis-font-myriadpro-regular letter-spacing-dot-one">Personalidad</p>
      </div>
    </div>
    <div class="tools-box">
      <p class="no-margin-text letter-spacing-dot-one neopraxis-font-montserrat-regular tool-title greyish-text">Inventario Multifásico de la Personalidad Minnesota - 2</p>
      <p class="no-margin-text letter-spacing-dot-one neopraxis-font-montserrat-regular tool-type greyish-text">MMPI-1</p>
      <p class="no-margin-text letter-spacing-dot-one neopraxis-font-montserrat-regular tool-category gold-text">Digital y Manual</p>
      <div class="tools-inline-info">
        <p class="inline-block tools-age warm-grey-text neopraxis-font-montserrat-regular">2015</p>
        <p class="inline-block tools-standard warm-grey-text neopraxis-font-montserrat-regular">Estandarizada</p>
        <p class="inline-block tools-age-restriction warm-grey-text neopraxis-font-montserrat-bold">18+</p>
        <img src="./img/icons/Reloj-dorado.png" class="inline-block tools-clock-icon">
        <p class="inline-block tools-time warm-grey-text neopraxis-font-montserrat-regular">60-90 min</p>
      </div>
      <div class="tools-divider"></div>
      <div class="tools-list">
        <div class="tools-list-item neopraxis-flex-row">
          <div class="tools-item-dot"></div>
          <p class="tools-item-text no-margin-text neopraxis-font-montserrat-regular warm-grey-two-text">Manual de aplicación y calificación</p>
        </div>
        <div class="tools-list-item neopraxis-flex-row">
          <div class="tools-item-dot"></div>
          <p class="tools-item-text no-margin-text neopraxis-font-montserrat-regular warm-grey-two-text">Cuaderno de aplicación</p>
        </div>
        <div class="tools-list-item neopraxis-flex-row">
          <div class="tools-item-dot"></div>
          <p class="tools-item-text no-margin-text neopraxis-font-montserrat-regular warm-grey-two-text">Hoja de respuestas</p>
        </div>
        <div class="tools-list-item neopraxis-flex-row">
          <div class="tools-item-dot"></div>
          <p class="tools-item-text no-margin-text neopraxis-font-montserrat-regular warm-grey-two-text">Plantillas de calificación</p>
        </div>
        <div class="tools-list-item neopraxis-flex-row">
          <div class="tools-item-dot"></div>
          <p class="tools-item-text no-margin-text neopraxis-font-montserrat-regular warm-grey-two-text">Tarjetas de acceso electrónico</p>
        </div>
      </div>
      <div class="tools-footer neopraxis-flex-row">
        <p class="tools-green-box-text white-text no-margin-text neopraxis-font-montserrat-regular letter-spacing-dot-one">Clínica</p>
        <p class="tools-grey-box-text white-text no-margin-text neopraxis-font-myriadpro-regular letter-spacing-dot-one">Personalidad</p>
      </div>
    </div>
  </div>
  <div class="tools-right-column">
    <div class="tools-box">
      <p class="no-margin-text letter-spacing-dot-one neopraxis-font-montserrat-regular tool-title greyish-text">Inventario Multifásico de la Personalidad Minnesota - 2</p>
      <p class="no-margin-text letter-spacing-dot-one neopraxis-font-montserrat-regular tool-type greyish-text">MMPI-1</p>
      <p class="no-margin-text letter-spacing-dot-one neopraxis-font-montserrat-regular tool-category gold-text">Digital y Manual</p>
      <div class="tools-inline-info">
        <p class="inline-block tools-age warm-grey-text neopraxis-font-montserrat-regular">2015</p>
        <p class="inline-block tools-standard warm-grey-text neopraxis-font-montserrat-regular">Estandarizada</p>
        <p class="inline-block tools-age-restriction warm-grey-text neopraxis-font-montserrat-bold">18+</p>
        <img src="./img/icons/Reloj-dorado.png" class="inline-block tools-clock-icon">
        <p class="inline-block tools-time warm-grey-text neopraxis-font-montserrat-regular">60-90 min</p>
      </div>
      <div class="tools-divider"></div>
      <div class="tools-list">
        <div class="tools-list-item neopraxis-flex-row">
          <div class="tools-item-dot"></div>
          <p class="tools-item-text no-margin-text neopraxis-font-montserrat-regular warm-grey-two-text">Manual de aplicación y calificación</p>
        </div>
        <div class="tools-list-item neopraxis-flex-row">
          <div class="tools-item-dot"></div>
          <p class="tools-item-text no-margin-text neopraxis-font-montserrat-regular warm-grey-two-text">Cuaderno de aplicación</p>
        </div>
        <div class="tools-list-item neopraxis-flex-row">
          <div class="tools-item-dot"></div>
          <p class="tools-item-text no-margin-text neopraxis-font-montserrat-regular warm-grey-two-text">Hoja de respuestas</p>
        </div>
        <div class="tools-list-item neopraxis-flex-row">
          <div class="tools-item-dot"></div>
          <p class="tools-item-text no-margin-text neopraxis-font-montserrat-regular warm-grey-two-text">Plantillas de calificación</p>
        </div>
        <div class="tools-list-item neopraxis-flex-row">
          <div class="tools-item-dot"></div>
          <p class="tools-item-text no-margin-text neopraxis-font-montserrat-regular warm-grey-two-text">Tarjetas de acceso electrónico</p>
        </div>
      </div>
      <div class="tools-footer neopraxis-flex-row">
        <p class="tools-green-box-text white-text no-margin-text neopraxis-font-montserrat-regular letter-spacing-dot-one">Clínica</p>
        <p class="tools-grey-box-text white-text no-margin-text neopraxis-font-myriadpro-regular letter-spacing-dot-one">Personalidad</p>
      </div>
    </div>
    <div class="tools-box">
      <p class="no-margin-text letter-spacing-dot-one neopraxis-font-montserrat-regular tool-title greyish-text">Inventario Multifásico de la Personalidad Minnesota - 2</p>
      <p class="no-margin-text letter-spacing-dot-one neopraxis-font-montserrat-regular tool-type greyish-text">MMPI-1</p>
      <p class="no-margin-text letter-spacing-dot-one neopraxis-font-montserrat-regular tool-category gold-text">Digital y Manual</p>
      <div class="tools-inline-info">
        <p class="inline-block tools-age warm-grey-text neopraxis-font-montserrat-regular">2015</p>
        <p class="inline-block tools-standard warm-grey-text neopraxis-font-montserrat-regular">Estandarizada</p>
        <p class="inline-block tools-age-restriction warm-grey-text neopraxis-font-montserrat-bold">18+</p>
        <img src="./img/icons/Reloj-dorado.png" class="inline-block tools-clock-icon">
        <p class="inline-block tools-time warm-grey-text neopraxis-font-montserrat-regular">60-90 min</p>
      </div>
      <div class="tools-divider"></div>
      <div class="tools-list">
        <div class="tools-list-item neopraxis-flex-row">
          <div class="tools-item-dot"></div>
          <p class="tools-item-text no-margin-text neopraxis-font-montserrat-regular warm-grey-two-text">Manual de aplicación y calificación</p>
        </div>
        <div class="tools-list-item neopraxis-flex-row">
          <div class="tools-item-dot"></div>
          <p class="tools-item-text no-margin-text neopraxis-font-montserrat-regular warm-grey-two-text">Cuaderno de aplicación</p>
        </div>
        <div class="tools-list-item neopraxis-flex-row">
          <div class="tools-item-dot"></div>
          <p class="tools-item-text no-margin-text neopraxis-font-montserrat-regular warm-grey-two-text">Hoja de respuestas</p>
        </div>
        <div class="tools-list-item neopraxis-flex-row">
          <div class="tools-item-dot"></div>
          <p class="tools-item-text no-margin-text neopraxis-font-montserrat-regular warm-grey-two-text">Plantillas de calificación</p>
        </div>
        <div class="tools-list-item neopraxis-flex-row">
          <div class="tools-item-dot"></div>
          <p class="tools-item-text no-margin-text neopraxis-font-montserrat-regular warm-grey-two-text">Tarjetas de acceso electrónico</p>
        </div>
      </div>
      <div class="tools-footer neopraxis-flex-row">
        <p class="tools-green-box-text white-text no-margin-text neopraxis-font-montserrat-regular letter-spacing-dot-one">Clínica</p>
        <p class="tools-grey-box-text white-text no-margin-text neopraxis-font-myriadpro-regular letter-spacing-dot-one">Personalidad</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}