{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
<div class="worksplace-header">
  <div class="worksplace-navbar">
    <nav class="neopraxis-navbar workplaces" id="neopraxisNavbarSite">
      <button class="hamburger hamburger--collapse" type="button" id="neopraxis-hamburger-menu">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      <a class="navbar-brand" href="./">
        <img src="./img/icons/neopraxis-logo-png@3x.png" class="fitLogo" id="fit-logo">
      </a>
      <ul class="nav navbar-nav navbar-right" id="neopraxis-main-navbar">
          {% if section == 'index' %}
            <li class="neopraxis-font-montserrat-regular active workplaces">
          {% else %}
            <li class="neopraxis-font-montserrat-regular workplaces">
          {% endif%}
            <a href="./index.html" class="no-padding-nav">Inicio</a>
          </li>
          {% if section == 'services' %}
            <li class="neopraxis-font-montserrat-regular active workplaces">
          {% else %}
            <li class="neopraxis-font-montserrat-regular workplaces">
          {% endif %}
            <a href="./services.html" class="no-padding-nav">Servicios</a>
          </li>
          {% if section == 'memberships' %}
            <li class="neopraxis-font-montserrat-regular active workplaces">
          {% else %}
            <li class="neopraxis-font-montserrat-regular workplaces">
          {% endif %}
            <a href="./memberships.html" class="no-padding-nav">Membresías</a>
          </li>
          {% if section == 'tools' %}
            <li class="neopraxis-font-montserrat-regular active workplaces">
          {% else %}
            <li class="neopraxis-font-montserrat-regular workplaces">
          {% endif %}
            <a href="./tools.html" class="no-padding-nav">Herramientas</a>
          </li>
          {% if section == 'blog' %}
            <li class="neopraxis-font-montserrat-regular active workplaces">
          {% else %}
            <li class="neopraxis-font-montserrat-regular workplaces">
          {% endif %}
            <a href="./blog.html" class="no-padding-nav">Blog</a>
          </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" id="neopraxis-main-navbar-right">
        {% if section == 'register' %}
          <li class="neopraxis-font-montserrat-regular navbar-register-button right-item-nav active workplaces">
        {% else %}
          <li class="neopraxis-font-montserrat-regular navbar-register-button right-item-nav workplaces">
        {% endif %}
          <a href="./register.html">
            <div class="inline-block navbar-register-button-box">
              <p class="no-margin-text register-button-text white-text neopraxis-font-montserrat-regular">Registro</p>
            </div>
          </a>
        </li>
        {% if section == 'login' %}
          <li class="navbar-padding neopraxis-font-montserrat-regular active right-item-nav workplaces">
        {% else %}
          <li class="navbar-padding neopraxis-font-montserrat-regular right-item-nav workplaces">
        {% endif %}
          <a href="./login.html">Iniciar sesión</a>
        </li>
      </ul>
      <div hidden="" class="neopraxis-show-in-movil">
        <a class="neopraxis-center-flex" href="./">
          <img src="./img/icons/neopraxis-logo-png@3x.png" class="neopraxis-logo-comparative">
        </a>
      </div>
    </nav>
  </div>
  <div class="worksplace-header-box neopraxis-flex-column">
    <div class="worksplace-header-title-box">
      <h1 class="worksplace-header-title charcoal-text neopraxis-font-montserrat-bold letter-spacing-dot-two no-margin-text">Espacios de trabajo</h1>
    </div>
    <div class="worksplace-header-subtitle-box">
      <p class="worksplace-header-subtitle charcoal-text neopraxis-font-myriadpro-regular letter-spacing-dot-two no-margin-text">Diseñados especialmente para adaptarse a tu actividad profesional y sólo te dediques a hacer lo tuyo.</p>
      <div class="worksplace-header-gold-divider"></div> 
    </div>   
  </div>
  <a href="#secondSection" class="circle-link">
    <div class="circle-arrow-box">
      <img src="./img/icons/flecha-verde-down.png" class="header-icon-arrow">
    </div>
  </a>
</div>
<div class="worksplace-second-section">
  <div id="secondSection"></div>
  <div class="worksplace-green-section">
    <div class="worksplace-green-section-left-image">
      <div class="worksplace-green-section-white-square"></div>
      <div class="worksplace-green-section-text-box">
      <p class="worksplace-green-section-text white-text neopraxis-font-myriadpro-regular no-margin-text"><b>Consultorios Privados </b>insonorizados, con mobiliario multifuncional de calidad, asegurando la mayor comodidad y estilo.</p>
      <div class="worksplace-green-section-text-divider"></div>
    </div>
    </div>
    <div class="worksplace-green-section-right-image">
      <img src="./img/page-1-copy@3x.png" alt="" class="worksplace-green-section-dots">
    </div>
  </div>
</div>
<div class="worksplace-third-section">
  <div class="worksplace-third-section-text-box">
    <p class="worksplace-third-section-text neopraxis-font-myriadpro-regular no-margin-text greyish-brown-text"><b>Espacio de Comunidad exclusivo para miembros</b> en donde podrás conectar con otros colegas e inspirarte mientras te tomas un café, té o disfrutas un snack saludable.</p>
    <div class="worksplace-header-gold-divider"></div> 
  </div>
  <div class="worksplace-third-section-left-image">
    <img src="./img/page-1-copy@3x.png" alt="" class="worksplace-third-section-dots">
  </div>
  <div class="worksplace-third-section-right-image">
    <div class="worksplace-third-section-white-square"></div>
  </div>
</div>
<div class="worksplace-green-section-filler"></div>
<div class="worksplace-parallax-gallery worksplace-carousel">
  <div class="worksplace-parallax-gallery-item first"></div>
  <div class="worksplace-parallax-gallery-item second"></div>
  <div class="worksplace-parallax-gallery-item third"></div>
  <div class="worksplace-parallax-gallery-item fourth"></div>
</div>
<div class="worksplace-last-section">
  <div class="worksplace-last-section-image inline-block"></div>
  <div class="worksplace-last-section-text-box inline-block">
    <p class="worksplace-last-section-text neopraxis-font-myriadpro-regular greyish-brown-text no-margin-text"><b>Área de Espera en donde recibiremos a tus pacientes con hospitalidad y respeto.</b></p>
    <div class="worksplace-last-section-gold-divider"></div>
    <a href="./offices.html" class="button-link">
      <div class="worksplace-last-button-box hover-green">
        <p class="neopraxis-font-montserrat-regular white-text see-more-btn-text no-margin-text letter-spacing-dot-six">VER CONSULTORIOS</p>
      </div>
    </a>
  </div>
</div>
{% endblock %}