<div id="freeTrialModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content cierralo-flex-colum">
    <div class="modal-close-btn-container cursos-pointer">
      <span class="close"><img src="./img/icons/close-modal.png" class="close-modal-img"></span>
    </div>
    <div class="modal-header neopraxis-flex-column">
      <div class="modal-title-box">
        <p class="modal-title no-margin-text slate-green-text letter-spacing-dot-two inline-block neopraxis-font-myriadpro-regular">Prueba un consultorio de </p>
        <img src="./img/icons/neopraxis-logo-png@3x.png" class="modal-title-logo inline-block">
        <p class="modal-title no-margin-text slate-green-text letter-spacing-dot-two inline-block neopraxis-font-myriadpro-regular">gratis</p>
      </div>
      <div class="modal-gold-divider"></div>
    </div>
    <div class="modal-body neopraxis-flex-column">
      <p class="modal-subtitle no-margin-text warm-grey-text letter-spacing-dot-one neopraxis-font-myriadpro-regular">Llena tus datos y te contactaremos lo antes posible para tu prueba gratuita</p>
      <form action="" method="get" accept-charset="utf-8">
        <div class="contact-body-modal-container neopraxis-flex-column">
          <div class="contact-input-box landing">
            <input type="text" name="" value="" placeholder="Nombre" class="contact-input landing neopraxis-font-myriadpro-light warm-grey" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nombre'">
          </div>
          <div class="contact-input-box landing">
            <input type="text" name="" value="" placeholder="Correo electrónico" class="contact-input landing neopraxis-font-myriadpro-light warm-grey" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Correo electrónico'">
          </div>
          <div class="contact-input-box landing">
            <input type="text" name="" value="" placeholder="Teléfono/Celular" class="contact-input landing neopraxis-font-myriadpro-light warm-grey" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Teléfono/Celular'">
          </div>
          <div class="contact-input-box-textarea">
            <textarea name="" class="contact-input landing neopraxis-font-myriadpro-light warm-grey" placeholder="Mensaje (Opcional)" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mensaje (Opcional)'"></textarea>
          </div>
          <div class="contact-checkbox-box neopraxis-flex-row">
            <input type="checkbox" name="email" value="" class="contact-checkbox inline-block cursor-pointer">
            <p class="neopraxis-font-myriadpro-light warm-grey contact-way-text no-margin-text">Quiero que me contacten por correo</p>
          </div>
          <div class="contact-checkbox-box neopraxis-flex-row">
            <input type="checkbox" name="phone" value="" class="contact-checkbox inline-block cursor-pointer">
            <p class="neopraxis-font-myriadpro-light warm-grey contact-way-text no-margin-text">Quiero que me contacten por teléfono</p>
          </div>
          <div class="contact-last-button-container neopraxis-flex-column">
            <button type="" class="white-text neopraxis-font-montserrat-regular contact-btn cursor-pointer hover-green letter-spacing-dot-six">ENVIAR</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<footer class="site-footer neopraxis-flex-column">
  <img src="./img/icons/neopraxis-logo-png-blanco@3x.png" alt="" class="footer-logo">
  <div class="neopraxis-flex-row footer-links-container">
    <div class="links-first-section">
      <a href="./aboutUs.html" class="footer-link click-scrolling">
        <p class="white-text uppercase neopraxis-font-montserrat-regular letter-spacing-dot-six footer-link-text no-margin-text">Nosotros</p>
      </a>
      <a href="./contact.html" class="footer-link click-scrolling">
        <p class="white-text uppercase neopraxis-font-montserrat-regular letter-spacing-dot-six footer-link-text no-margin-text">Contacto</p>
      </a>
      <a href="./faq.html" class="footer-link click-scrolling">
        <p class="white-text uppercase neopraxis-font-montserrat-regular letter-spacing-dot-six footer-link-text no-margin-text">Faq's</p>
      </a>
      <a href="./community.html" class="footer-link click-scrolling">
        <p class="white-text uppercase neopraxis-font-montserrat-regular letter-spacing-dot-six footer-link-text no-margin-text">Comunidad</p>
      </a>
    </div>
    <div class="links-second-section">
      <a href="./workPlaces.html" class="footer-link click-scrolling">
        <p class="white-text uppercase neopraxis-font-montserrat-regular letter-spacing-dot-six footer-link-text no-margin-text">Espacios de trabajo</p>
      </a>
      <a href="./offices.html" class="footer-link click-scrolling">
        <p class="white-text uppercase neopraxis-font-montserrat-regular letter-spacing-dot-six footer-link-text no-margin-text">consultorios</p>
      </a>
      <a href="./memberships.html" class="footer-link click-scrolling">
        <p class="white-text uppercase neopraxis-font-montserrat-regular letter-spacing-dot-six footer-link-text no-margin-text">Membresías</p>
      </a>
      <a href="./tools.html" class="footer-link click-scrolling">
        <p class="white-text uppercase neopraxis-font-montserrat-regular letter-spacing-dot-six footer-link-text no-margin-text">Herramientas</p>
      </a>
    </div>
    <div class="newsletter-box">
      <input type="text" name="" value="" placeholder="newsletter" class="newsletter-input neopraxis-font-myriadpro-light uppercase letter-spacing-dot-six"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'newsletter'">
      <div class="footer-share-box inline-block">
        <img src="./img/icons/facebook-white.png" alt="" class="footer-share-icon">
        <img src="./img/icons/twitter-white.png" alt="" class="footer-share-icon">
        <img src="./img/icons/instagram.png" alt="" class="footer-share-icon last">
      </div>
      <button type="" id="footerBtn" class="float-left white-text neopraxis-font-montserrat-regular newsletter-btn inline-block cursor-pointer letter-spacing-dot-six hover-green">PRUÉBALO GRATIS</button>
    </div>
  </div>
  <p class="white-text copyright-text neopraxis-font-myriadpro-light letter-spacing-dot-six no-margin-text">Copyright Neopraxis 2017 All rights reserved</p>
</footer>
