<footer class="site-footer neopraxis-flex-column">
  <img src="./img/icons/neopraxis-logo-png-blanco@3x.png" alt="" class="footer-logo">
  <div class="neopraxis-flex-row footer-links-container">
    <div class="links-first-section">
      <a href="" class="footer-link">
        <p class="white-text uppercase neopraxis-font-montserrat-regular letter-spacing-dot-six footer-link-text no-margin-text">Nosotros</p>
      </a>
      <a href="" class="footer-link">
        <p class="white-text uppercase neopraxis-font-montserrat-regular letter-spacing-dot-six footer-link-text no-margin-text">Contacto</p>
      </a>
      <a href="" class="footer-link">
        <p class="white-text uppercase neopraxis-font-montserrat-regular letter-spacing-dot-six footer-link-text no-margin-text">Faq's</p>
      </a>
      <a href="" class="footer-link">
        <p class="white-text uppercase neopraxis-font-montserrat-regular letter-spacing-dot-six footer-link-text no-margin-text">Comunidad</p>
      </a>
    </div>
    <div class="links-second-section">
      <a href="" class="footer-link">
        <p class="white-text uppercase neopraxis-font-montserrat-regular letter-spacing-dot-six footer-link-text no-margin-text">Espacios de trabajo</p>
      </a>
      <a href="" class="footer-link">
        <p class="white-text uppercase neopraxis-font-montserrat-regular letter-spacing-dot-six footer-link-text no-margin-text">consultorios</p>
      </a>
      <a href="" class="footer-link">
        <p class="white-text uppercase neopraxis-font-montserrat-regular letter-spacing-dot-six footer-link-text no-margin-text">Membresías</p>
      </a>
      <a href="" class="footer-link">
        <p class="white-text uppercase neopraxis-font-montserrat-regular letter-spacing-dot-six footer-link-text no-margin-text">Herramientas</p>
      </a>
    </div>
    <div class="newsletter-box">
      <input type="text" name="" value="" placeholder="newsletter" class="newsletter-input neopraxis-font-myriadpro-light uppercase letter-spacing-dot-six">
      <div class="footer-share-box inline-block">
        <img src="./img/icons/facebook-white.png" alt="" class="footer-share-icon">
        <img src="./img/icons/twitter-white.png" alt="" class="footer-share-icon">
        <img src="./img/icons/twitter-white.png" alt="" class="footer-share-icon last">
      </div>
      <button type="" class="float-left white-text neopraxis-font-montserrat-regular newsletter-btn inline-block cursor-pointer letter-spacing-dot-six hover-green">PRUÉBALO GRATIS</button>
    </div>
  </div>
  <p class="white-text copyright-text neopraxis-font-myriadpro-light letter-spacing-dot-six no-margin-text">Copyright Neopraxis 2017 All rights reserved</p>
</footer>
