
<nav class="neopraxis-navbar" id="neopraxisNavbar">
    <button class="hamburger hamburger--collapse" type="button" id="neopraxis-hamburger-menu">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
    <a class="navbar-brand" href="./">
        <img src="./img/icons/neopraxis-logo-png@3x.png" class="fitLogo" id="fit-logo">
    </a>
    <ul class="nav navbar-nav navbar-right" id="neopraxis-main-navbar">


        <ul class="nav navbar-nav navbar-right">
            <li class="neopraxis-font-montserrat-regular"><a href="./buildingList.html">Inicio</a></li>
            <li class="neopraxis-font-montserrat-regular"><a href="#">Servicios</a></li>
            <li class="neopraxis-font-montserrat-regular"><a href="#">Membresías</a></li>
            <li class="neopraxis-font-montserrat-regular"><a href="/home/signUp">Herramientas</a></li>
            <li class="neopraxis-font-montserrat-regular"><a href="/login/auth">Blog</a></li>
            <li class="neopraxis-font-montserrat-regular"><a href="/login/auth">Inicia sesión</a></li>
            <li class="neopraxis-font-montserrat-regular navbar-register-button">
              <a href="/login/auth">
                <div class="inline-block register-button-box">
                  <p class="no-margin-text register-button-text white-text neopraxis-font-montserrat-regular">Registro</p>
                </div>
              </a>
            </li>
        </ul>
        <div hidden="" class="neopraxis-show-in-movil">
            <a class="neopraxis-center-flex" href="/">
                <img src="./img/icons/neopraxis-logo-png@3x.png" class="neopraxis-logo-comparative">
            </a>
        </div>
    </ul>
</nav>